[2016-06-14 02:41] cyli commented on #762
@innocentme1  No, no change to https://docs.docker.com/engine/security/trust/trust_sandbox/

https://github.com/docker/docker/pull/23195 was just merged today, if that's what you're referring to, but that change is not reflected at https://docs.docker.com/engine/security/trust/trust_sandbox/ yet.

If you are following the old instructions, everything should still work as before.  I'm not sure what

[2016-06-14 03:11] innocentme1 commented on #762
@cyli it shows no route to host when containers are dead (as expected) and connection refused when container is up.

[2016-06-14 03:15] cyli commented on #762
Are containers continuing to kill themselves with the new
instructions too?  Could you try removing all existing containers first?

On Monday, June 13, 2016, Innocentme <notifications@github.com> wrote:

[2016-06-14 03:18] innocentme1 commented on #762
not yet tried new instructions. will try them and let you know 2mrw morning. Are you referring to the instructions at - https://github.com/docker/docker/pull/23195/files?

[2016-06-14 03:21] cyli commented on #762
Yep!  Although removing the trust sandbox container first may be a good
idea if you haven't tried that already.  If notary server goes down and you
bring it back up, trust sandbox may not be correctly linked afterward.

On Monday, June 13, 2016, Innocentme <notifications@github.com> wrote:

[2016-06-14 03:22] innocentme1 commented on #762
I tried that already. Lets see with new instructions.

[2016-06-14 03:52] cyli commented on #762
@innocentme1

If you have time, no particular hurry, what happens if you run the following in two different terminals?

1. `docker run --rm -i --name testserver alpine nc -l -p 4444` in one terminal
2. `docker run --rm -i --link testserver alpine sh -c "echo hello | nc testserver 4444"`

I see "hello" in the server terminal, but I'm wondering if you get a network error like `nc: bad address 'tests

[2016-06-14 04:19] innocentme1 commented on #762
@cyli nope. no error. it works fine for me too!  It seems to be some error in dns resolution or error with server image/compose file that was provided. I will try to troubleshoot it for sometime tomorrow else will run the new instructions. What I wondered is - it worked for sometime and all of a sudden, it started not to work. I did some testing on artifactory but I think that would not have tampe

[2016-06-14 04:32] cyli commented on #762
@innocentme1 Out of curiosity, are you using docker-machine or running this all on your local machine?

[2016-06-14 04:33] innocentme1 commented on #762
@cyli local machine based on Ubuntu.

[2016-06-14 04:37] cyli commented on #762
:|  Ok, then I have no clue.  There can be an issue if you are running this against a docker machine, since the notary compose file mounts volumes containing the mysql init - and if that volume isn't mounted, then notary server and notary signer can't connect to the mysql instance because the users were never created.

But should work fine if it's all local.  Sorry, I have no idea what is causing

[2016-06-14 18:55] endophage commented on #782
Hi @onlyjob, just want to make sure I understand your problem and request completely clearly.

You're asking that when we vendor into the docker/docker repository, we always vendor a semantically tagged version?

Are you trying to package the Notary CLI as its own package and match versions between Docker and the Notary package?

[2016-06-14 22:48] endophage commented on #778
No part of notary that depends on GRPC is vendored into docker so there appears to be no benefit to synchronizing our GRPC versions. Is there something I'm missing?

[2016-06-14 22:50] endophage commented on #759
Closing as this doesn't appear to be relevant to Notary and no additional information has been provided.

[2016-06-14 22:50] #759 closed

[2016-06-14 23:00] innocentme1 commented on #762
@cyli Its not actually DNS issues, its more to networking issues. If you see it says : connection refused and then immediately containers get killed after this message. I tried the last option u said - it dint work. So, I am only left with working on new instructions then.

[2016-06-14 23:06] cyli commented on #762
@innocentme1 The connection refused makes sense - the server and signer aren't running within the containers, if the connection is getting confused and the containers stop running.  The question is why they're not running - if you could run `docker-compose logs` in the notary repo, that might give us a little more info.

It's possible there's a DNS or other connection between the server/signer and

[2016-06-14 23:19] innocentme1 commented on #762
@cyli Thanks for assisting me continously everytime and anytime really quick:)  Thank you so much.

Alright. Nooo. You got me wrong. this connection refused occurs "even" when the containers are up and running. I verified this with ps but soon after this refuse error message , server and signer containers get killed. I am not sure if ur looking for attached screenshot logs, I did run the command w

[2016-06-14 23:20] innocentme1 commented on #762
Also, I will keep parallely trying the new instructions set.

[2016-06-14 23:28] cyli commented on #762
@innocentme1 No problem, I am very curious to figure out what's wrong.

Sorry, I didn't explain myself very clearly - "waiting for notarymysql to come up" is what I was expecting.  The container is running because the startup script inside the container polls the mysql server for about 30-35 seconds, so during that entire time, the container itself is running running.  When the startup script fail

[2016-06-14 23:38] innocentme1 commented on #762
Yup I removed the /dev/null in that 11th line, destroyed the containers and then docker-compose up'ed them again. and this time logs are like attached. I could not figure out something great in this except "database was not shutdown normally" and the log prior to it.

![helll](https://cloud.githubusercontent.com/assets/19864555/16063483/7934e4e6-324e-11e6-8cbe-062d64f490bd.PNG)

[2016-06-14 23:59] cyli commented on #762
@innocentme1 Could you find the notary_server logs?  The mysql logs won't necessarily tell us why notary server is refusing to connect :)

[2016-06-15 00:06] innocentme1 commented on #762
@cyli

hmm. As I said before, attached are the logs I can see ...saying waiting to come up and nothing else.
![logs](https://cloud.githubusercontent.com/assets/19864555/16063987/3d74df66-3252-11e6-81d3-44c2e0d9c4c4.PNG)

Am I missing something that u require?

[2016-06-15 00:10] cyli commented on #762
@innocentme1 By removing the pipe to `/dev/null`, the notary_server container should print out why it's failing to connect to the mysql container, as opposed to just the "waiting for notarymysql to come up" message (which only lets us know that something went wrong, but not what).

You may have to rebuild (`docker-compose build`) before running `docker-compose up` again.

[2016-06-15 00:12] innocentme1 commented on #762
I did rebuild - let me give a try and let u know.

@cyli I am also parallelly trying the new instructions (Yeah, I have to make this setup live ASAP as its highly critical for us here) and It gives me the following error. I am running compose version 1.7.1 which crosses the minimum requirement mentioned by u the instructions.

error:
ERROR: The Compose file './docker-compose.yml' is invalid becaus

[2016-06-15 00:17] cyli commented on #762
@innocentme1 There should not be any indentation in front of your "volumes" and "networks" declaration -  they should be on the same indentation level as services, which should be none.

[2016-06-15 00:40] cyli commented on #762
@innocentme1

Just to be clear, also, the new instructions are for sandbox testing - if you want to get a live signing server up, you probably want a real DB with persistent data.  In which case, you probably still want the compose file in the notary repo.

[2016-06-15 00:52] innocentme1 commented on #762
@cyli I rebuilt again and now below are the logs. This seems to be opening tcp on 10.5.74.105 on 3306. this IP is internal virtual IP seems to be load balancer. I am not sure why it is dialing to it on 3306 ( 3306 is port we opened for  mysql? )

dial tcp 10.5.74.105:3306: getsockopt: connection refused
waiting for notarymysql to come up.
dial tcp 10.5.74.105:3306: getsockopt: connection refused
w

[2016-06-15 01:03] cyli commented on #762
@innocentme1 Yep, 3306 is indeed the mysql port.  So if you do `ping mysql` on your local machine, outside of any containers, it hits 10.5.74.105?

[2016-06-15 01:04] innocentme1 commented on #762
@cyli Ahhh....yes...!

[2016-06-15 01:07] cyli commented on #762
:|  You're hitting the same weird DNS bug as https://github.com/docker/notary/pull/753.  Which I've been asking around about, but no one else seems to be able to replicate (let me see if I can come up with a very simple test case that fails in the same way).

In the meantime though, I think you might have to add the `-GODEBUG=netdns=cgo` environment variables to the compose file as per https://git

[2016-06-15 01:16] innocentme1 commented on #762
@cyli

1. I am happy that you got someone to replicate your debug issue :P and I am sad that it was me :|
2. I tried the new setup instructions - working perfectly. Man, working with the old and new instructions , I can say that this new ones are way simple and better than the old ones. Also, I am not sure if its the case with you too- I found the signing , push and pull mechanism to be "very slow

[2016-06-15 01:36] cyli commented on #762
@innocentme1

I didn't notice much of a difference in my setup, but since docker-in-docker writes images to a docker volume, it might depend on your volume driver.

Yep, I remember - is the mysql address on your network new?  Not sure why it worked before and just started failing recently.

I'm not sure when the next doc build for docker/docker is - I can submit a PR to the existing docs, but I'm

[2016-06-15 02:19] #733 closed

[2016-06-15 05:56] onlyjob commented on #782
Exactly. :)
Thank you for understanding, @endophage.

[2016-06-15 05:59] onlyjob commented on #778
_grpc_ is shipped as re-usable package in Debian. We've updated _grpc_ to snapshot that Docker-1.11.1 needs but that broke Notary which FTBFS now because it depends on older snapshot of _grpc_... Consistency is important. ;)

[2016-06-15 07:29] innocentme1 commented on #762
@cyli

I am not sure about that address being added newly. I tried this last night at home too but still same issue.

Sure. I will do verify that and file to docker/docker sometime this weekend? I have some important tasks to work on as the setup is up and running now.

 Also, I did do the changes in the compose files and rebuilt them. It works perfectly now :)  so adding this GODEBUG to run comma

[2016-06-15 14:45] djs55 opened #787 "0.3.0: notary-Darwin-amd64 has wrong sha256, reports no version or git sha"
The github release page has:
[code]

I see:
[code]
but the Linux binaries are ok:
[code]
Furthermore if I ask the Darwin binary to self-identify (perhaps unwisely since I shouldn't trust it!):
[code]

[2016-06-15 14:55] djs55 opened #788 "notary-Linux-static-amd64 reports different git commit to v0.3.0 tag"
Maybe this is my misunderstanding but the github release has tag `v0.3.0` and reports git sha `658a25c4efe1cd5e7151bd9bd4dcb99bc698a4b8` but the Linux static binary attached to the release reports
[code]
I'd like to recompile a `notary` binary from source that's as similar as possible to 0.3, but I don't know whether I should start with 205666e or the v0.3.0 tag. I notice that the `NOTARY_VERSION`

[2016-06-15 16:23] riyazdf commented on #787
@djs55 - thank you for bringing this to our attention, I'm investigating what caused this and have rebuilt and uploaded a notary 0.3 darwin version to the release pages

[2016-06-15 16:24] #787 closed

[2016-06-15 16:26] djs55 commented on #787
Thanks!

[2016-06-15 17:02] riyazdf commented on #788
Thanks for finding this, I've standardized the release to use the same commit `658a25c` - unfortunately the 0.3 release missed the `NOTARY_VERSION` file upgrade so we may release a 0.3.1 in the near future to account for this.

[2016-06-15 17:02] #788 closed

[2016-06-15 17:24] cyli commented on #762
@innocentme1 Whenever you have free time, thanks so much for your patience and perserverance .  :)

[2016-06-15 18:02] endophage commented on #778
From what you're describing here and in #782, are you saying every single package in debian needs to use the same version of a dependency?

The Notary repository contains 3 applications. Notary CLI, Notary Server, and Notary Signer. Docker only depends on Notary CLI. Notary CLI has no dependencies on GRPC. As such I see no need to synchronize GRPC versions between the Notary and Docker repositorie

[2016-06-15 18:02] endophage commented on #782
@onlyjob so we're already using semantic versioning (as of v0.2.0) and we can certainly tag each time we vendor into docker. However as the release cycles are not syncronized, it's typically not appropriate to release the version of notary that was vendored into Docker. The version vendored into docker represents library level updates. If you release that version as the standalone CLI, it will oft

[2016-06-15 18:06] cyli opened #789 "Update the auth permissions so that delete repo requires admin permission"
I think that means all permissions (`*`), not just push/pull.

Confirmation from @jlhawn that `scope=repository:library/foobar:*` is given only to namespace admins, as opposed to anyone with read-write access.

[2016-06-15 22:32] innocentme1 commented on #762
@cyli thanks.

1. In case, we need to check test the rotating keys option in this test setup we made, how do we do that? I am little confused with the notary client CLI thing described here : https://docs.docker.com/notary/advanced_usage/ . In our setup, sandbox (I am still running with old instructions set) is the client which will be having keys and pulls metadata from notary server right? So, d

[2016-06-15 22:39] endophage commented on #762
@innocentme1 the [TUF specification](https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-spec.txt) is a good place to start to understand how Notary is attempting to do things. There are some nitty gritty implementation differences and we currently only support a non-configurable threshold of 1. We've also implemented a custom prioritization for traversing delegations (which the spec s

[2016-06-15 22:43] innocentme1 commented on #762
@endophage: I did go through it and took quite some time to understand everything. It is fine in my head now but the way Docker implemented it via Notary is little confusing to me now. I will try to figure that out.

Also. I am yet to research the delegations part. Thats on my next to-do list. Your reply answered my second question but not the first one. Can you throw some light on it too?

[2016-06-15 22:52] endophage commented on #762
I'll do my best to answer your key rotation question.

The client and server do not syncronize keys. The client holds some private keys (always root and targets, sometimes snapshot) and the server holds the others (always timestamp, sometimes snapshot). Currently we only support the rotation of keys held by the client (we have started work on rotating keys held by the server), and the transfer of

[2016-06-15 23:47] innocentme1 commented on #762
@endophage sounds good as of now. Will let u know as I move on.

Also, Incase if I am using docker hub instead of registries for storing my signed images. do I need to add any env variable like "export DOCKER_CONTENT_TRUST_SERVER=https://notaryserver:4443" which we do for registries? I tried without and with giving "notary.docker.io" but it gives me an error like "Error establishing connection to

[2016-06-15 23:53] endophage commented on #762
If you are using the `docker` CLI you need to provide `DOCKER_CONTENT_TRUST_SERVER`. If you are using the `notary` CLI you should provide the same server URL as the `-s` flag. Alternatively, if you only interact with one server (or at least, with one server much more than others), you can use a notary config file: https://docs.docker.com/notary/reference/client-config/

[2016-06-16 00:12] endophage commented on #762
That looks more like there's a permissions problem with your ~/.docker directory. Could you post the output of `ls -la ~ | grep docker` and `ls -la ~/.docker/`.

[2016-06-16 00:18] innocentme1 commented on #762
It is indeed a permission issue. Rectified. Sorry. What confused me is the statement : "Error establishing connection to notary repository" before the failed to create..... Why would it fail establishing connection because of permissions? :/ I think little more clear statement should be good.

[2016-06-16 00:26] endophage commented on #762
Yeah, I think that `Error establishing connection` prefix comes from Docker rather than Notary. Still our job to fix it but if memory serves it was phrased that way because almost all the errors Notary returns up to Docker are network related.

[2016-06-16 01:49] innocentme1 commented on #762
@endophage @cyli

hmm. I am little confused on rotating keys part. I just pushed a signed repository to my docker hub and then I am trying to rotate the keys. The command "notary key list" says - " no signing keys found"  even I have all the keys in my ./docker/trust....folder. Reference attached. Only if I am able to list them, I can get the GUN and then rotate them right?

![no keys](https://clo

[2016-06-16 02:11] endophage commented on #762
Try `notary -d ~/.docker/trust key list`

Notary is an independent project from Docker and by default puts all data in the ~/.notary directory. It's necessary to point it at the ~/.docker/trust directory to see docker related trust data.

[2016-06-16 12:22] bgrissin opened #790 "log / error interpretation"
Can I get some interpretation for what the errors means (i.e. the 200 messages) and why it is failing?  thnx

The push refers to a repository [fqdn/rhel/rhel7]
abab321ee7e0: Layer already exists
7.1: digest: sha256:xxxxxxxxx size: 1543
Signing and pushing trust metadata
DEBU[0000] reading certificate directory: /home/user/.docker/tls/fqdn
DEBU[0000] crt: /home/user/.docker/tls/fqdn/ca.crt
DEBU[000

[2016-06-16 14:37] onlyjob commented on #782
We have no intention to release docker-vendored Notary as standalone package. It is the other way round: we can't reuse Notary to build Docker because of tagging mess in Notary and because vendoring of Notary do not stick to semantic releases.

[2016-06-16 14:43] onlyjob commented on #778
Correct. Reusable libraries is the only way to maintain coherent interdependent software repository. Vendored mess quickly gets out of control or decay. Think of security support: a problem can be fixed in one place in case of reusable library or one would have to backport fix to all versions of vendored library... The latter is not viable.

All notary applications are built from single (tagged) s

[2016-06-16 16:15] endophage commented on #778
I understand what you're saying and I've heard it many times before. I think it would really help us to get a full overview of what you're trying to do, including all the components you're trying to build packages for. It's very difficult for us to understand your use case through a handful of highly specific requests. It sounds like you're not only trying to build the Notary CLI, but the server a

[2016-06-16 22:52] innocentme1 commented on #762
@endophage  Sorry for delayed response and thanks for helping me all the time.

1. When I rotate the keys , it gives me the error as "*fatal : client is offline". I tried to check if Internet is reachable - infact , it is!  Not sure what else does this error mean? Anything else to be done from my side?

This also means that the key is not rotated because I tested it as below
          a. Rotated t

[2016-06-16 22:58] cyli commented on #762
@innocentme1 Can you try running the notary command with a `-D` to get debug output?   `notary -D -d ~/.docker/trust ...`

[2016-06-16 23:03] innocentme1 commented on #762
@cyli Hey, below are messages of our interest

ERRO[0000] could not reach https://notary-server:4443: Get https://notary-server:4443/v2/: dial tcp: lookup notary-server on 127.0.1.1:53: no such host
INFO[0000] continuing in offline mode

Surprised. Do I need to change this host address somewer? add some config file or something?

[2016-06-16 23:06] cyli commented on #762
@innocentme1 Are you using the trustsandbox setup?  (e.g. are you executing the notary commands from within the trustsandbox container?  If so, I think we linked that one as notaryserver, not notary-server.

[2016-06-16 23:14] innocentme1 commented on #762
@cyli figured out the issue. Thanks!

I am running on my base machine and I passed the trust server address with -s flag and it works fine now!

[2016-06-17 01:03] HuKeping opened #791 "Increase/decrease logging level on notary-signer"
For people who would like to try some contribute to Notary :)

For now we have already supported increasing/decreasing logging level on notary server side #748 , and it would be nice to have that functionality also on notary signer side.

Tips:
What you need to do would like to be:
- Embed  a `setupSignalTrap()` into the notary-signer booting process.
- Add a handler to deal with those captured si

[2016-06-17 18:15] gtank opened #792 "go1.7 vet dislikes MemoryFileStore"
[code]

The sync.Mutex in MemoryFileStore might be unnecessary anyway, since KeyMemoryStore provides its own locking.

[2016-06-17 18:34] gtank commented on #94
P-256 is still probably the best choice. For tracking purposes, [golang #11499](https://github.com/golang/go/issues/11499) discusses the issues with P384 and P521 in Go.

[2016-06-19 22:23] KellerFuchs opened #794 "Document deviations from TUF"
The [service architecture doc](https://github.com/docker/notary/blob/master/docs/service_architecture.md) starts by stating that Notary implements The Update Framework.

Please document the deviations from the TUF spec, their rationale and an argument for it not compromising the security of the system, including:

- the repository and targets are conflated (there is only one target per repository)

[2016-06-20 06:44] riyazdf commented on #794
Hi @KellerFuchs, can you please explain where the deviations are from the [TUF spec](https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-spec.txt)?  From my understanding, these are implementation details outside of the realm of the TUF spec, and as such do not deviate or violate the specification itself.

[2016-06-20 06:57] riyazdf commented on #790
Hi @bgrissin, could we please get some additional context about how you got into this state?  It would be very helpful.

To explain some of this output:

`DEBU[0000] Failed to initialize PKCS11 environment: no library found.` - not a real error to worry about, just means you didn't use a yubikey

[code]
Snapshot data failed to verify, so your notary client is re-downloading root data.

[code]
Your

[2016-06-20 07:55] cyli commented on #794
@KellerFuchs Also, could you elaborate on "one target per repository"?  Unfortunately the word "target" itself is somewhat overloaded in the spec.

Do you mean one targets file per TUF repository?  I believe that according to the [0.9 spec](https://github.com/theupdateframework/tuf/blob/1bed3e09a478c2c918ffbff10b9118f6e52ee129/docs/tuf-spec.txt), there is only one top level targets metadata file,

[2016-06-20 15:23] KellerFuchs commented on #794
@cyli Yes, I was talking of the repository scoping.
It's true that the spec is not completely clear, actually: it did go against my understanding of the spec, but a second careful reading made it apparent that this point is not in itself a deviation.

This is an issue from a security and manageability perspective:
- From a security perspective, having the repository scoped to, say, [`hub.docker.co

[2016-06-20 15:28] KellerFuchs commented on #794
@riyazdf It specifies that the root keys [“should be kept offline.”](https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-spec.txt#L243-L244).

Notary's default is not this, the documentation mentions nothing about this, and it doesn't seem possible or supported to generate and store the root key on an offline (“airgapped”) system (without moving it online every time the root needs to s

[2016-06-20 17:54] endophage commented on #794
Hi @KellerFuchs, apologies if our responses are slow over the next few weeks. We're all on deck for DockerCon. Regarding some of your comments about scoping of repositories:

  - It would require much more complex logic to deal with multiple images in the same TUF repository all using the same tags (i.e. `latest`, `1.0`, etc...). We would have to do a _lot_ of custom handling of delegated roles or

[2016-06-20 18:00] cyli commented on #794
@KellerFuchs Another reason we do not support organization level repositories is that some organizations have a mix of public and private repositories, and there's no good way to hide those private repositories from public ones if they all live in a single repository.  We can prevent a user from being able to download the delegation targets files for the private repositories, but those files will

[2016-06-20 19:51] KellerFuchs commented on #794
@cyli Very fair point.
Would it work to have separate metadata files for private and public images?

@endophage In order:

1. I don't understand the problem (OTOH, I don't know the internals of Notary, so that might be a naive comment).
Wouldn't you end up with delegations to, say, `debian` and `docker`, who themselves do delegations to `debian/stable`, `debian/7.11`, `docker/1.10` and so on?
2. P

[2016-06-22 18:44] dnwake commented on #731
This functionality is crucial to make trust-pinning a useful feature in our usage scenario (where both pushing and pulling clients are trusted , but the Notary server itself is not).

[2016-06-22 21:10] #762 closed

[2016-06-22 21:14] riyazdf commented on #615
PR merged on engine for docker 1.12 release: https://github.com/docker/docker/pull/23549

[2016-06-22 21:14] #615 closed

[2016-06-22 21:17] riyazdf commented on #612
Hi @RRAlex - we've tried improving the notary 0.3 release process accordingly.  There's also a separate tracking issue for debs here: https://github.com/docker/notary/issues/316

I'm closing this issue for now, but please feel free to re-open or a file a new issue if you have further packaging requests :)

[2016-06-22 21:17] #612 closed

[2016-06-22 21:18] #459 closed

[2016-06-22 21:32] riyazdf commented on #707
Closed with #709

[2016-06-22 21:32] #707 closed

[2016-06-22 21:41] riyazdf opened #795 "Integrate with other HSMs"
notary implements the PKCS11 interface so it should be possible to integrate to other HSMs such as CloudHSM and Nitrokey

[2016-06-22 21:43] riyazdf opened #796 "Define and document notary server API"
We should document the notary server endpoint API

[2016-06-22 21:46] riyazdf commented on #583
@skelterjohn Closing this issue for now, please file a new issue if you still need assistance

[2016-06-22 21:46] #583 closed

[2016-06-22 21:57] riyazdf commented on #446
These functions exist in the library but we're moving toward a static notary repository object that can serve this info.  I'll close this and keep #548 and #550 as open issues

[2016-06-22 21:57] #446 closed

[2016-06-22 22:00] cyli opened #797 "Refactor server/signer tests to be able to test multiple DBs (like rethink)"
It'd be nice to be able to run our storage tests against actual DBs - while we use an ORM for sql-like DBs and test against a sqlite database, our ORM may not support some of the functionality we use.

And there is no fake rethink DB right now to test, so we'd have to test our rethink code against a real DB.

[2016-06-22 22:59] cyli commented on #794
@KellerFuchs:

This makes name resolution more complicated because the same repository could exist in both, and name resolution would involve extra logic:

1. We could first check the registry to see if the repository exists, and whether it's a public and private repository, and only then can we determine which TUF repository to pull to do name resolution: the public one or the private one.
2.  We

[2016-06-22 23:00] cyli commented on #794
^ sorry, missed a few key words in that comment, namely "don't necessarily" :)  updated.

[2016-06-22 23:28] #792 closed

[2016-06-23 18:12] HuKeping commented on #796
👍

[2016-06-23 18:28] riyazdf commented on #745
hi @BenHall, we have a static linux build that you can try for 0.3 and we're actively trying to improve our release process.

As @HuKeping notes, we list `apt-get install libltdl-dev` as a dependency for [building notary ](apt-get install libltdl-dev).

I'll close this issue for the time being, but feel free to open another issue or re-open this one if you have further issues or suggestions :)

[2016-06-23 18:28] #745 closed

[2016-06-23 18:49] innocentme1 opened #799 "Image layer verification happens with and without DCT?"
So, one thing I observed is that the image layer tampering can be detected even without DCT enabled (Docker Content Trust)? I also double confirmed it from here - "https://docs.docker.com/registry/spec/api/"  Image verification section.  So, why do demos of DCT in different online videos and conferences shows that DCT enabling can detect image layer tampering? It is being done even without enablin

[2016-06-23 21:17] riyazdf commented on #799
Hi @innocentme1:

Yes, as you mentioned, the docs you link specify that "Before proceeding to download the individual layers, the engine verifies the manifest’s signature, ensuring that the content was produced from a trusted source and no tampering has occurred. After each layer is downloaded, the engine verifies the digest of the layer, ensuring that the content matches that specified by the man

[2016-06-23 23:08] innocentme1 commented on #799
@riyazdf

Yup. I do know that the trust verifies basing on the manifest layer and then basing on the digest. But in multiple videos, I did observe people saying that this is getting failed because of DCT. For instance, in this video https://www.youtube.com/watch?v=JvjdfQC8jxM , Diogo says that "Docker Content Trust detects that layer has been tampered" which actually is not right. (Video 23.50) DC

[2016-06-24 16:52] KellerFuchs commented on #794
@cyli Yes, but using a CA in that way breaks some of the security property that TUF brings. For instance:
- having a separate pinned CA [makes rollover hard](https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-spec.txt#L165-L166);
- having a pinned CA makes the whole infrastructure vulnerable to a [single-key compromise](https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-s

[2016-06-27 08:25] ashishjain14 opened #803 "Client is always in offline state"
I am seeing the following issue every time I query the notary server. Here is a complete debug log

notary -s https://localhost:4443 -d ~/.docker/trust list localhost:5000/ubuntu -D
DEBU[0000] Configuration file not found, using defaults
DEBU[0000] Using the following trust directory: /root/.docker/trust
**ERRO[0000] could not reach https://localhost:4443: Get https://localhost:4443/v2/: x509: cer

[2016-06-27 16:22] riyazdf commented on #803
hi @ashishjain14 - how are you running notary server?  The reason I ask is that it looks like notary server is indeed running, but that your notary CLI does not trust its certificate and is therefore refusing to connect.

If you're running notary server using the compose files we've provided, you'll need to specify the `root-ca.crt` file that we've included in the repo in the client's config file

[2016-06-27 18:38] endophage commented on #799
Actually, it wasn't realized the layer integrity detection wasn't being done until we added content trust and took a close look at the existing checks in docker.

However, you are correct that the layer integrity is checked even with DCT disabled. We include it because without DCT, the lack of any guarantees around the manifest make this integrity check a moot point. If I can modify the layer, I c

[2016-06-27 19:04] innocentme1 commented on #799
@endophage I totally agree with you but I just wanted to confirm that the layer verification is done even without DCT. You confirmed it now - Thank you :)

[2016-06-27 19:44] #799 closed

[2016-06-27 23:07] endophage commented on #794
@KellerFuchs none of the problems you present arise from image scoped TUF repos. At the highest level, the widest scope we would reasonably be able to implement, while still maintaining user ownership of keys, as you yourself suggested, is user/org scope.

However, we have new users signing up all the time and new orgs being created. It is impossible for us to ship all their keys ahead of time, pr

[2016-06-28 06:51] endophage opened #805 "Investigate if text/tabwriter is a sufficient substitute for tablewriter"
It would reduce vendored dependencies and has a super simple interface to column align output.

[2016-06-28 10:28] ashishjain14 commented on #803
Thank you that indeed was the issue. There are couple of warnings still I see in the debug logs one related to failed PKCS11 environment & another one on no valid root certificates.

notary -s https://localhost:4443 -d ~/.docker/trust list localhost:5000/ubuntu -D
DEBU[0000] Using the following trust directory: /root/.docker/trust
DEBU[0000] Trusting 1 certs
**DEBU[0000] Failed to initialize PKCS1

[2016-06-28 16:29] riyazdf commented on #803
Those debug statements are expected, the notary client is still validating the trust  metadata successfully.  I'll explain each a little further:

`DEBU[0000] Failed to initialize PKCS11 environment: no library found` - this is because the notary client is built with the pkcs11 tag, so it will try to initialize a `YubiStore` such that it can use a yubikey for root key operations.  This debug is ju

[2016-06-28 16:29] #803 closed

[2016-06-28 18:53] endophage opened #806 "Cleanup import-export and key architecture"
Thought there was an issue, apparently not. As discussed in the past, key storage should be cleaned up to have clear logical divisions. At the top level, a `CryptoService` should deal in operations: sign, create, etc... `trustmanager.KeyStore` should speak Public/PrivateKey objects, and the `trustmanager.Storage` interface should speak in `[]byte`.

Import/Export should then operate against a eith

[2016-06-28 22:34] HuKeping commented on #806
Maybe we should put on a label like `breaking-change` with red background color here to remind people that it could be not any guarantee of backwards compatibility with importing already exported keys.

But since it was not on a v1.0 yet, it's fine to do so.

[2016-06-28 22:39] endophage commented on #806
@HuKeping great idea! Will create and add the label now

[2016-06-29 09:34] KellerFuchs commented on #794
@endophage OK, we seem not to be understanding one another there.

Definitely

I never suggested shipping user's keys with notary or Docker, if that's what you mean there.
What I said is that, as a notary user, I would want a mechanism to pin trust for my entire org (because, as stated, pinning on a per-image bases is just a nightmare).

Sorry, but I'm not seeing the relevance of that part:
- I do

[2016-06-29 09:34] #794 closed

[2016-06-29 09:40] KellerFuchs commented on #794
As an aside, I would be interested to know @hellais' or @vladimir-v-diaz's opinion on this, since you seem pretty determined not to have a security analysis on your own.

[2016-06-29 14:52] endophage commented on #794
Apologies if we seem intransigent. There are pieces of the TUF spec you are passing over. Mainly, prior to the part you link:

We fully implement the guarantees of the TUF spec and have simply added a mechanism for bootstrapping trust, something that the spec explicitly notes it does not define.

We would be interested in having a conversation with @vladimir-v-diaz and the rest of the TUF team, wh

[2016-06-29 21:37] KellerFuchs commented on #794
@endophage It's really hard to be having a conversation with you about this when you seem to silently disregard part of what is said.

“bootstraping” and “files they download manually” are one-off operations (hence why the root is *Trust On First Use*).
It is, for instance, setting up docker/notary for the first time on a given host.
It is **not** *Trust On Every Use* (of Docker to fetch a new ima

[2016-06-30 01:53] endophage commented on #794
I'm not sure what you feel I'm silently disregarding, but it's possible our differing starting points are making me oblivious to context you don't have.

It would be useful to separate the problems you're describing because I feel like you're conflating 2 different things.

First, lets try and put the CA piece to bed, in the general context of notary, independent of the scope of any repository. Th

[2016-07-01 16:39] riyazdf opened #812 "Passphrase attempt and errorring logic for keys could be improved"
I was doing some local testing when I realized that it's possible to fail `> attempts` times on passphrases that are too short, but then notary will fail with `ErrAttemptsExceeded` after inputting a valid passphrase.  While most users may not run into this exact failure case, I think we could revisit and improve the passphrase attempt logic UX at the KeyStore level in general

[code]

[2016-07-01 17:54] dnwake commented on #731
Experimental pull request here: https://github.com/docker/notary/pull/813

[2016-07-02 19:07] endophage opened #815 "Get goreportcard to 100% across the board"
[Report Card](https://goreportcard.com/report/github.com/docker/notary)

TODOs:

  - notary/cmd/notary/delegations.go
    - [ ] Line 111: warning: cyclomatic complexity 22 of function (*delegationCommander).delegationRemove() is high (> 15) (gocyclo)
    - [ ] Line 211: warning: cyclomatic complexity 21 of function (*delegationCommander).delegationAdd() is high (> 15) (gocyclo)
  - notary/cmd/nota

[2016-07-03 18:48] KellerFuchs commented on #794
You implicitly and systematically assume that we are looking at the lifecycle of a single image.
That's exemplified in what you say about TOFU and manual downloads.

Yet, it is a complete disconnect from both the reality of production systems and the TUF spec:

- If I install a new package (say, `apt install nginx`), I'm not creating a new vulnerability window because I can't trust the package yet

[2016-07-04 19:34] endophage commented on #794
Thank you for explaining the scenario you are considering. I believe this is the first time you've clearly laid out your context so we can understand. I would like you to try and separate the 2 concepts of the CA for bootstrapping, and the scope of the repo because you're really conflating them badly.

I said we're not going to change the CA. The CA is for bootstrapping _only_. It is strictly bett

[2016-07-06 08:48] KellerFuchs commented on #794
First paragraph of my [first reply](https://github.com/docker/notary/issues/794#issuecomment-227175195).  Sorry if this was not clear enough.

Given how much effort I put into this discussion even after being told that the scoping wouldn't be changed, I would have thought that was a given.

I will have to have a second read through the implementation and test whether I can do things like delegatin

[2016-07-06 17:34] riyazdf commented on #789
I've been investigating this a little bit further -- this shouldn't be too much work on the delete side, but will require some changes on publishing.

Since we currently don't separate an initial publish vs. subsequent publishes, we'll have to check on the server if we have any trust data and send a new challenge for a token with admin (`*`) permission if this publish is initializing trust data fo

[2016-07-06 17:41] riyazdf commented on #414
cc @avaid96 so he can get additional context

[2016-07-06 17:53] riyazdf commented on #794
For "delegating publication power to specific tags" it seems like using delegation roles with restricted paths could be helpful.

The `--paths` flag on `notary delegation add` will allow you to set a restricted set of path prefixes that the delegation role can publish to.

[2016-07-06 17:53] endophage commented on #806
@HuKeping @andrewhsu I've been talking with the team here at Docker and we think an easy way to re-implement import/export is to use `.pem` files which already support containing multiple unique PEM blocks.

Export will pack all the keys being exported into a single `.pem` file, each delineated as a unique PEM block. Import can take any number of `.pem` files and will unpack each individual PEM bl

[2016-07-07 01:19] HuKeping commented on #806
Sounds good and I also think the scenario that wants to export all keys of one gun and one/two keys of another is not that common.

[2016-07-07 02:23] HuKeping opened #816 "x509: certificate signed by unknown authority"
Hi,

I deploy notary service on a machine(host1) and try `docker pull xxx` from another(host2) with env
[code]

From host2, I get 'x509: certificate signed by unknown authority'
From host1, per the log of notary-server I get `http: TLS handshake error from IP:Port: remote error: bad certificate`

It was strange that even if I installed the root-ca into the system, I can still get those error.

And

[2016-07-07 02:33] HuKeping commented on #816
The OS of host2 is centos and I install the CA by
[code]

I also try the same operation of host2 on host3(Ubuntu). First I get the x509 error which was as expected because I haven't install the CA into system yet. But after I installed the CA, it works fine.
[code]

So why it still get the error `'x509: certificate signed by unknown authority`  even if I have installed the root-ca into system on h

[2016-07-07 03:41] HuKeping commented on #816
Should I file this on docker/docker side? https://github.com/docker/docker/issues/24402

[2016-07-07 07:26] #816 closed

[2016-07-07 22:34] riyazdf commented on #816
@HuKeping: yes, thanks for closing this issue and re-opening on the docker/docker side since this surfaces with DCT 👍

[2016-07-07 22:50] dnwake opened #817 "Inadequate debug logging for trust-pinning"
When the user specifies the "ca" field in the trust-pinning configuration, the debug logging is inadequate to ascertain why a particular command succeeded or failed.

[2016-07-08 07:29] onlyjob commented on #778
Through tagging semantically, vendoring by tags and reusing libraries. Of course some projects do not tag so we have to mock-up date-based versions...

What do you mean? Docker was just recently uploaded and as for Notary it is in such a mess that inevitably we could not bring it up to date because of all build failures and inconsistencies that I tried to address.
It would really help if you could

[2016-07-08 07:32] onlyjob commented on #778
Yes, one source package produces different Notary components -- -dev package with library sources and binary packages with daemon and CLI. If you maintain those components separately shouldn't they be split into their own repositories?

[2016-07-08 17:08] endophage commented on #782
I understand what you're saying. I'm trying to explain if we vendor say v0.4.0 into a docker release, the actual version of Notary that you'll want to distribute is likely to be v0.4.1, but that won't be vendored into docker until the _next_ docker release.

[2016-07-08 17:23] endophage commented on #778
So we weren't planning to support server and signer in any form other than docker images. That's why we don't release binaries for them on the releases page.

I'm sorry, I probably seemed like I was having a dig at Debian before. That wasn't my intent. I've used Ubuntu (which I realize isn't the same but it's the closest thing I've touched to Debian) and Arch for a littler over a decade, and the U

[2016-07-08 22:34] cyli opened #823 "Add way to test our auth token integration"
We use distribution's auth code for our client and server, but we don't currently have any way of testing the integration between client and server.  Also, we want to make sure that our client is asking for the correct permissions that match what our server requires.

One possibility is to write a mock token auth server to test notary's auth settings, but there may be a better solution.

(see http

[2016-07-08 22:37] #805 closed

[2016-07-09 04:39] onlyjob commented on #778
Of course not every golang package is versioned but I was not making such claim. :)
"grpc" is one of those that refuses to version and it is not the only project that does not tag releases properly. Fortunately many do, notably CoreOS packages and many others.

Thanks.

[2016-07-09 04:40] onlyjob commented on #782
Fair enough. That should work. Thank you.

[2016-07-11 18:17] ecordell commented on #794
@riyazdf @endophage I've been watching this issue with interest, because my initial evaluation of Notary/DCT left me feeling similar to @KellerFuchs - there was enough different from TUF, it seemed, to make me question whether it was actually TUF anymore.

To that end I *do* think there’s value in separating out what is TUF-as-specified (the TUF kernel, if you will) and what are nice additions tha

[2016-07-11 19:10] dmp42 commented on #551
bump @docker/core-notary-maintainers :)

[2016-07-11 20:03] samoht opened #826 "Signing issues on OSX"
Due to https://github.com/golang/go/issues/11887 the notary binary, when signed, will not run on OSX. We currently workaround the issue by rebuilding the application with striped dwarf symbols:

https://github.com/djs55/notary/commit/31e4b19260d57f0f59b596bb38aa4a6d5075be1a

Would be great to have a proper solution integrated upstream.

/cc @justincormack and @djs55

[2016-07-11 20:07] samoht opened #827 "Packaging issue on OSX 10.10"
The distributed binary for OSX works fine on 10.10 provided the right libltdl.7.dylib installed on the system (with homebrew for instance). It would be very useful to ship instead a self-contained bundle containing the notary executable and a custom libltdl.7.dylib (built with `MACOSX_DEPLOYMENT_TARGET=10.10`)

/cc @djs55 and @justincormack

[2016-07-11 20:22] endophage commented on #551
We should be able to get this working without too much problem if we don't include yubikey support. I don't have a good feel for what it will be like getting yubikey support included on windows.

It's not scheduled in the 0.4.0 timeframe but we can look at it after that release is cut and release a first windows build at 0.4.1.

[2016-07-11 20:32] endophage commented on #826
Just curious, which version of Go are you using? That linked issue seems to indicate the solution your using ceased working on 1.5.2 and 1.6.

Definitely want to work out a good way to fix this. I was talking to the Yubico guys about how we might go about dropping to cgo requirement (we'd have to write a Go integration from the ground up, probably against PIV rather than PKCS11), but I haven't had

[2016-07-11 21:28] endophage commented on #794
@ecordell thank you for the thoughtful input. We're happy to add more documentation so your bullet pointed list is a useful place for us to start (I'll pinch it and file an issue to track the additional docs shortly).

You are correct in your understanding of what we'd like Notary to be. DCT should represent a specific deployment of Notary, rather than being the only thing Notary is suitable for.

[2016-07-11 21:30] endophage opened #828 "Docs explaining some of the Notary design decisions"
Topics that needs docs:

  - [ ] The use of x.509 and the trust pinning mechanism
  - [ ] Trust bootstrapping in general
  - [ ] The use of registry auth
  - [ ] The client/server/signer architecture
  - [ ] The changeset format and general approach to staging
  - [ ] Storing old public keys in the root metadata after rotation

cc @ecordell

[2016-07-11 22:05] riyazdf commented on #789
After digging around more, I'm currently of the opinion that the initial push should remain as is (requiring `"push"` and `"pull"`) rather than `*`.  Changing the required permissions would impose a hard break on old clients since they would not be able to form correct transports.

[2016-07-11 23:42] HuKeping commented on #828
Great to see this!
I'd like to pick up the `The use of registry auth` if it was not in a hurry. It is one of the use case from production I've been asked for.

[2016-07-12 10:51] justincormack commented on #826
Fairly sure we are compiling with 1.6; the solution still works, that is what we ship with docker for mac.

I don't think always stripping the dwarf is a problem for other platforms, can do a PR for that.

A non cgo version would be nice, but it is quite a bit of work I would imagine...

[2016-07-12 15:13] HuKeping opened #832 "Some question about the threat model"
Hi there,

As the [docs](https://github.com/docker/notary/blob/master/docs/service_architecture.md#possible-attacks-given-the-credentials-compromised) about `Threat model` says,  if the delegation key compromised, the attacker can malicious/remove content on the particular delegation path.

But what does the `Notary Service write-capable credentials` means?  Does it mean the JWT authentication mec

[2016-07-12 16:15] cyli commented on #832
Hi @HuKeping!  Yes it's the JWT auth mechanism.

And do you mean just an example of the auth mechanism at work generally?  Or something more specific?

[2016-07-12 18:23] dmp42 commented on #551
Thanks @endophage - what would be the approximate release date for 0.4 & 0.4.1 respectively?

[2016-07-12 18:34] dmp42 commented on #826
Doesn't the last comment on that go ticket suggest the latest clang version fixes the issue? (clang-703.0.29)

[2016-07-12 18:37] justincormack commented on #826
The comments on the issues don't correspond much to our experience, but I will test again on a fully updated system.

[2016-07-12 20:05] achandak123 commented on #828
Also, more details on what does various metadata signing keys mean? Like snapshot, target n all? Also, to push into a trusted collection, AFAIK, you need to have the root keys (in ~/.docker/trust). How do we share the root keys across users?

[2016-07-12 20:18] cyli commented on #828
@achandak123 The various signing keys are explained by the [TUF spec](https://github.com/theupdateframework/tuf/blob/1bed3e09a478c2c918ffbff10b9118f6e52ee129/docs/tuf-spec.txt#L223) that Notary implements - this doc is more about design decisions beyond the TUF spec, but yes we agree we should definitely list what is covered by the spec and what isn't.

Also, yes we need to document our recommenda

[2016-07-12 22:34] HuKeping commented on #832
Oh never mind, I was just not sure it was the JWT auth mechanism and was thinking what could it be because there is not an example to help to explain "why the attacker have already get the decrypted key but still can not talk to notary-server".  But since it is the JWT, there is no doubt then. Thank you @cyli

[2016-07-12 22:47] endophage commented on #551
0.4.0 should get an RC cut sometime around mid-August but is dependent on other releases happening around then. If they are delayed, Notary will be as well.

We don't have a schedule for 0.4.1 yet. It would likely be a release just to add Windows builds.

[2016-07-13 01:14] HuKeping commented on #832
Hi @cyli ! Why the docs said "An attacker can add malicious content, remove legitimate content from a collection, and mix up the targets in a collection" in the term that the snapshot keys has not been rotated to the service side yet? See [docs about thread model](https://github.com/docker/notary/blob/master/docs/service_architecture.md#possible-attacks-given-the-credentials-compromised)

[2016-07-13 04:11] cyli commented on #832
You're right it can be confusing since mixing is can be used to mean taking
different versions of different metadata files.  It was added because the
delegation key make arbitrary changes to the delegation roles under the
role they're signed into.  By "mixing" we mean you can basically reproduce
a different version of an underlying delegation (just copy all the data
over) - essentially just adding

[2016-07-13 07:49] HuKeping opened #833 "Typo on docs"
https://github.com/docker/notary/blob/master/docs/service_architecture.md#possible-attacks-given-the-credentials-compromised

Which "any malicious data at all, given that they have ***acess*** to all the keys" would like to be
"any malicious data at all, given that they have ***access*** to all the keys"

[2016-07-13 08:16] HuKeping commented on #832
I'm fine with that, just tried to get it clear.

Thanks @cyli

[2016-07-13 16:26] riyazdf commented on #832
@HuKeping I'll close this issue for now then, but please let us know if you have more questions!  And if you think we need better explanation for certain topics in the docs, we can put them in #828 or a similar issue

[2016-07-13 16:26] #832 closed

[2016-07-14 04:07] HuKeping commented on #815
Report Card link broken

[2016-07-14 04:31] riyazdf commented on #815
Should be fixed!  (Edited original link above)

[2016-07-14 19:32] ecordell opened #835 "Old public keys should be stored in versioned metadata, not roles"
Currently, rotating root keys versions the role and keeps the old keys around in the metadata indefinitely. Here's a quick example after adding two root keys:

root.json

[code]

I think the older keys should be available in `root.2.json` and `root.1.json`, not as additional roles on a single `root.json` file. This way clients that have older metadata can request intermediate metadata to become cu

[2016-07-14 21:30] cyli commented on #835
Heya @ecordell!  Just wanted to summarize for those who may not have read through those two PRs, since they're really long:

You can actually just remove the data entirely without breaking any of the TUF functionality.  None of the TUF validation depends on the old keys being present in the list of keys, nor the old root roles.  Clients that are several versions behind do not actually check any of

[2016-07-14 22:33] endophage opened #836 "Implement etcd storage backend for cache"
When notary clients are run in a distributed manner, it would be good to have an implementation of the backend cache directly against etcd.

[2016-07-14 22:52] endophage opened #837 "Push password crypto down a level"
Password based encryption/decryption of keys is currently handled in the KeyStore level. Pushing it down a level to sit behind the Storage interface will make it more reusable and flexible. There are four configuration options we want to be able to apply to key encryption:

  - Encrypt on Ingress
  - Decrypt on Ingress
  - Encrypt on Egress
  - Decrypt on Egress

(N.B. This is ingress/egress to/fr

[2016-07-14 23:03] endophage opened #838 "Discussion: Can we fully flatten the keystore?"
We've discussed it internally on a number of occasions, I'd like to have the discussion with a larger group.

## Current State

Keys are stored in a directory called `private` within you configured `trust_dir`. Root keys are stored in `private/root_keys/*.key`, delegation keys are stored in the top level of `private/tuf_keys/*.key`, and all other keys (targets, snapshot), are stored in `private/tu

[2016-07-14 23:14] diogomonica commented on #838
If the same key is being used for multiple repositories, would we add multiple headers?

This LGTM, even though I actually like the fact that right now a simple `tree .` tells me what keys are being used for what.

[2016-07-15 01:47] HuKeping commented on #836
If the purpose is to have a KV-store running on the back-end, why just the `etcd` although I do think it's the best KV-store at present.

[2016-07-15 02:03] HuKeping commented on #838
Yep, I also use `tree` to list those keys,  but it's non-blocking.

[2016-07-15 06:43] HuKeping opened #839 "Proposal: notaryctr"
Anybody think it's worth to change the CLI `notary` to `notaryctr`?

[2016-07-15 06:44] lewiada opened #840 "notary-server certificate expired at midnight"
the notary-server.crt included with the git clone just expired. hopefully a new one will be added soon?

[2016-07-15 11:05] jsoler commented on #840
+1

[2016-07-15 13:12] ecordell commented on #838
👍 from me. I think in general the storage mechanism for keys (and metadata) should be decoupled on the client like it is in the server component.

Is this also a feature request for `notary key tree`?

[2016-07-15 14:34] ecordell commented on #835
Thanks @cyli for the overview! It's really encouraging, because I think we're converging on some very useful additions to the TUF spec.

I'd like to link to some thoughts we've been ruminating on, a [proposal for a public log](https://gist.github.com/ecordell/cfba62d2f82ab5a252912b242dd74224) ("cryptographically verifiable history") for TUF. I didn't see the issue on notary that you linked before,

[2016-07-15 16:39] riyazdf commented on #840
@lewiada: new testing certs are on the way!

[2016-07-15 17:17] endophage commented on #838
@diogomonica the directory layout does not provide a good mechanism to use a key across multiple guns, this change would enable that if we wanted it to and if we did, I think yes, we would want to store all GUNs in the headers.

@ecordell it seems like that might solve the use case @diogomonica and @HuKeping have described but I'd probably file a separate issue for that if this proposal is accepte

[2016-07-15 17:19] cyli commented on #835
Yes, we agree, and that was something we had previously discussed - we had just de-prioritized the history functionality.  Signing forever is just recommended by the spec and easier to do, and the older root roles was a stopgap measure to make this more usable, until we were we provided all TUF guarantees with the history mechanism we chose since it will be used for a most critical part of the upd

[2016-07-15 17:42] riyazdf commented on #838
👍  on proposal.

@ecordell @HuKeping: could we improve `notary key list` to be more clear for the `tree` use case?

[2016-07-15 17:49] andrewhsu commented on #838
👍  from me as well. I like the simplified directory structure.

[2016-07-15 17:50] cyli commented on #835
@ecordell Just to be clear, are you talking about not having to sign with all the old keys because a consumer client would have a way to walk backwards in history to a key that they trust (and hence making it more expensive for consumer clients to update - O(n) downloads of root)?

Or are you talking about a publisher client walking backwards in history to get all the keys to sign with, and hence

[2016-07-15 17:57] HuKeping commented on #838
@riyazdf It's not in a hurry.

[2016-07-15 17:58] ecordell commented on #835
Yes exactly, but the downloads only have to occur up to the last seen root. Similar to a fast-forward in a git repo.

[2016-07-15 18:06] endophage commented on #835
@ecordell so I don't think this would provide the same security guarantees. Including the hash of the previous root gives us a way to move backwards in time in a trustworthy way. I don't think it would allow a client to move forward in time in a similarly trustworthy way.

If I have root v1, and I need to get to root v5 (the "current" one), the spec requires me to use data I already know, namely t

[2016-07-15 18:12] lewiada commented on #840
awesome, thank you!  was just getting familiar with notary when they expired :-)

[2016-07-15 18:16] cyli opened #841 "Implement Threshold Signing mechanisms on the client/server"
Although we validate thresholds right now, currently there is no way to set a threshold higher than 1, because we had no good user story for how this would work.

This has been discussed over email with @gtank and @ecordell, and @ecordell has kindly opened https://github.com/theupdateframework/tuf/issues/339 as a result.

Posting the relevant parts of this discussion here for everyone to review.

[2016-07-15 18:17] cyli commented on #841
(from @ecordell:)

The approach we've been pondering is allowing partially signed, and thus "invalid" metadata to be pushed to the TUF server. I should add that we have some patches to Notary playing with these ideas (haven't fleshed out that test suite yet - sorry!) With that in mind I think we have decent answers to the UX questions you posed.

If you request the metadata, it's either valid (mee

[2016-07-15 18:36] ecordell commented on #835
This was the idea behind having current metadata signed with the previous threshold/keys as described in https://github.com/theupdateframework/tuf/issues/340. You trust v5 because it's chained to v4 and v4's keys have signed v5, etc back to v1.

If a threshold of keys at some point have been compromised, a client can be convinced to trust a fork, but this is not especially different from a thresho

[2016-07-15 18:59] endophage commented on #835
@ecordell ok, @cyli's last comment was trying to establish if you were suggesting we could do away with previous root keys being required to sign. It seems like that's _not_ what you're suggesting.

To be 100% clear and make sure we're all understanding. You would not expect a consumer client to use the parent hashes in root files _in any way_ to walk forward. Is that accurate?

[2016-07-15 19:06] cyli commented on #841
This would only be for the case where we're changing the threshold for the root role?  If the targets role threshold were 2, for instance, and there's a partially signed `target.json` in the queue, and someone comes by and updates the `root.json` only to change the target role threshold to 1, that partially signed `target.json` is suddenly valid.  (assuming the server generates snapshots and times

[2016-07-15 19:08] riyazdf commented on #840
@lewiada just opened #842, so should be fixed soon!  You can check out that branch for now if you'd like to continue playing with the notary docker-compose setup :)

[2016-07-15 19:30] ecordell commented on #835
That is what I was suggesting

No, I would expect clients to use the parent hashes to walk forward.

Let me write out an example and hopefully you can tell me where we're misunderstanding each other:

1. root v1   -  keys: A, B, C  -  threshold: 2  -  signatures: A, B
2. Company policy indicates the keys should be rotated, so A, B and C are swapped for D, E, and F
3. root v2  -  keys: D, E, F  - t

[2016-07-15 20:07] ecordell commented on #841
That's absolutely right; I just think that's an intentional property of TUF - root key owners can wreak havoc on lower data if they choose. Someone updating the root such that a previously invalid targets becomes valid is essentially the root key holders blessing that targets file.

If it seems like that's a problem or could be a common source of errors, this could probably be solved with messagin

[2016-07-15 20:12] ecordell commented on #841
I should add that the description above is somewhat different from https://github.com/theupdateframework/tuf/issues/339

[2016-07-15 20:39] endophage commented on #835
@cyli got it clear for me but this helps too. We need to be more clear about what we mean when we say "old/previous root keys". Your proposal still requires the root keys of the immediately previous root version to sign, but removes the need for _all_ old keys to sign a new root. So if there is a root change that doesn't involve a root rotation, only the current keys will have appeared to sign.

[2016-07-15 21:32] lewiada commented on #840
pulled the branch and back in business!  Thanks for the quick turn around :-)

[2016-07-15 23:17] cyli commented on #841
So the logic would be:

1.  If someone 'witnesses' one or more staged files, and updates the staged files with their signatures, we attempt to do a full version update of the whole repo.  If it fails, we just add their signatures to the existing files in the staged area.

1.  If someone pushes a new version of the TUF repo that is valid, we apply that first and then again attempt to do a full vers

[2016-07-15 23:44] #840 closed

[2016-07-16 00:20] endophage commented on #836
@HuKeping if there are other stores people are interested in we should add issues for them. We've had a request specifically for etcd as a bunch of other docker projects already use it and they want to integrate Notary with a distributed client cache

[2016-07-16 14:41] ecordell commented on #835
Yes - this brings the signing requirements for rotation to be the same as for a non-rotation change. If it's worth making the distinction, I might argue that "requires the root keys of the immediately previous root" is the same as "don't need to store any previous root keys." Key rotation uses the current keys to sign for new ones (after which the previous ones can immediately be forgotten).

This

[2016-07-18 14:04] ecordell commented on #841
Your descriptions for 1 & 2 seem spot on to me!

I think the staged metadata only needs to be treated as a single unit during a "promotion" from staging -> TUF repo. Individual files could still be staged at any time. User-managed snapshot files could be exactly the same as the case for server managed snapshot, but there would be one additional "witness" step for the snapshot (could even generate

[2016-07-18 17:04] cyli commented on #841
Hmm, sorry I think I am just not being clear about terminology.  Agreed that metadata needs to be treated as a single unit during a promotion.

What do you mean by "individual files could still be staged at any time"?  Do you mean that an individual file can be uploaded to the staging area to be witnessed, where it will be treated as part of a single set of staged metadata files that will all be p

[2016-07-18 18:36] endophage opened #844 "`notary remove` should delete target from all roles possible"
When no `--role` flag is provided.

[2016-07-18 18:41] endophage opened #845 "Update the auth permissions so that create repo requires admin permission"
I think that means all permissions (*), not just push/pull.

Confirmation from @jlhawn that scope=repository:library/foobar:* is given only to namespace admins, as opposed to anyone with read-write access.

[2016-07-18 18:41] endophage commented on #789
Closed by #819

[2016-07-18 18:45] cyli commented on #845
IRL discussion and update from https://github.com/docker/notary/issues/789#issuecomment-231880075:

1.  Have configuration about whether this permission is hard-enforced or soft-enforced (if hard-enforced, we don't accept a POST to the update endpoint if the repo doesn't already exist)
2. Add a new endpoint for creating a new repo that requires a `*` permission, and new clients when initializing a

[2016-07-18 18:49] #789 closed

[2016-07-18 18:52] ecordell commented on #841
Simply that if I, as a key holder, want to stage some metadata, I can stage files as separate operations. I.e., I can upload a staged `targets.json` without creating an entire staged metadata collection. A user-managed snapshot is the only unusual case: we either need to generate snapshots on the server and offer them up for witnessing by snapshot key owners, or we need to have a separate snapshot

[2016-07-18 18:54] endophage opened #846 "Server Key Rotation: Schema updates"
Signer should do all key management.

[2016-07-18 18:54] endophage opened #847 "Server Key Rotation: Endpoint to request key rotation"

[2016-07-18 18:58] #766 closed

[2016-07-18 20:23] jlhawn commented on #845
@endophage @cyli yes, `*` access is given to admins of the repository namespace. You may also want to consider adding a new access scope for creating a repository. Something like `repo-namespace:library:create-repo` would only be given to accounts which are authorized to create new repositories in the `library` namespace. This would require a change in the authorization backend on the server issui

[2016-07-18 21:09] riyazdf opened #849 "RethinkDB server healthcheck"
The signer RethinkDB has a healthcheck, but the server's is currently unimplemented

[2016-07-18 22:03] diogomonica commented on #839
👎

[2016-07-18 22:05] riyazdf commented on #839
I'm with @diogomonica, and would prefer to keep the name `notary` for simplicity

[2016-07-18 22:22] cyli commented on #849
LGTM!  Thanks @riyazdf for getting to this so quickly - tested it manually by dropping the `tuf_files` table and it looks good (503).

[2016-07-19 00:41] HuKeping commented on #839
OK, closing.

[2016-07-19 00:41] #839 closed

[2016-07-19 09:49] HuKeping opened #852 "delegation roles doesn't publish successfully"
There is a `targets` role which has three delegations roles `targets/distribution`, `targets/docker`, `targets/notary` under the GUN `huawei.com`:
[code]

After I publish content(the README.MD of each repo) with delegation roles respectively , I get:
[code]

Then I publish the `huawei.com/docker/readme` with the `targets` role, which I get:
[code]

Notice that the **ROLE** has changed from `target

[2016-07-19 12:30] HuKeping opened #853 "Do we support rotating the delegation key as well?"
It seems the role should be one of "snapshot", "targets", "root", or "timestamp", do we also support "delegation" role, such as
[code]

[2016-07-19 16:19] riyazdf commented on #853
At this time we don't support delegation roles in the `key rotate` command.

For rotating specific delegation keys, the admin who holds the targets key should remove and add delegation keys with the `delegation add` and `delegation remove` commands, specifying the key IDs in the commands.

It's unclear what the best way would be to get `key rotate` to work cleanly with a given delegation role beca

[2016-07-19 16:23] riyazdf commented on #852
When we list targets, we perform a pre-order traversal of the delegation roles tree, which has targets at the root.  Once we've found a match for a particular target name, we don't override it if we find it in a later role in the tree.  This means if you run a `notary list` without any flags, we'll prioritize the `targets` role over other delegation roles.

However, `notary list` takes an optional

[2016-07-19 21:52] #849 closed

[2016-07-19 21:53] #806 closed

[2016-07-19 21:59] endophage commented on #852
For some extra context, we implemented preorder because it was the simplest mechanism and was also suggested in the TUF spec. Structurally though, regardless of preorder or otherwise, there seems to be an expectation that a target that exists in 2 role that have a direct ancestor-descendant relationship, will always result in the ancestor (i.e. the role higher in the delegation tree) being the acc

[2016-07-20 01:58] HuKeping commented on #853
I file this issue just to make sure I haven't miss something.

You are right @riyazdf , the `delegation add` and `delegation remove` is enough at present, even for the multi tenant, the master of the tenant can use this way to rotate those compromised keys if necessary.

[2016-07-20 01:58] #853 closed

[2016-07-20 02:17] HuKeping commented on #852
Thanks @riyazdf , the flag `--roles` does work, but what about the `notary verify` if the result with the flag and without the flag are ***different***.

Without the flag
[code]

With the flag

[code]

Notice that the DIGEST is different and when do the `notary verify` the `flagged` one will fail because the `notary verify` doesn't take a flag like `notary list` does.

[2016-07-20 02:31] HuKeping commented on #852
@endophage does this make sense:
userA keeps signing and publishing  `ImageA` he was asked to.
One day userA compromised and the master which of the same tenant as userA signed and published `ImageA` and then rotate the keys for userA and distribute those keys to userA and userA keeps doing his work.

[2016-07-20 16:38] riyazdf commented on #852
@HuKeping you're correct that `notary verify` (and also `notary lookup`) does not currently take a roles flag, and that could be helpful to distinguish which hash to verify against.  Both CLI commands currently will default against checking against the metadata in the `targets` role first since they perform the same pre-order traversal -- I'll file a tracking issue.

That said, while this function

[2016-07-20 16:38] riyazdf opened #857 "Add --roles flag to verify, lookup CLI commands"
From discussion in https://github.com/docker/notary/issues/852#issuecomment-233820701

[2016-07-20 22:59] cyli opened #859 "Add --role flag for delegation add"
It should be a string slice, so we can add the same delegation key to multiple roles.  This is a breaking change - previously role was a positional argument.

[2016-07-20 23:02] cyli opened #860 "Warn if a delegation key certificate is expiring"
Since we allow delegation public keys to be certs.

[2016-07-20 23:03] cyli opened #861 "Notary auth PW keychain integration or OAUTH flow"
So you don't have to put in the password for the registry you are authing to for every notary command.

[2016-07-21 00:01] riyazdf opened #862 "removing a key from a delegation role should check the last signature"
If we remove a key from a delegation role that last signed that role's metadata, we would leave clients with an invalid delegation.  If there's only one key for a delegation, the user should either add a new key and sign with that one before removing the key, or delete the delegation role entirely.

[2016-07-21 01:56] HuKeping commented on #857
I can handle this but before that I also want to make sure this is the right way to do it. How about still discuss in #852

[2016-07-21 02:12] HuKeping commented on #852
Do we must use the `preorder` or could it be possible that  list all of them, and use the latest version to show out.

And also, if I have secondary delegation roles, the `notary delegation list GUN` seems wouldn't list them.
[code]

Actually there are also `targets/notary/server` and `targets/notary/signer`

[2016-07-21 06:55] riyazdf commented on #857
Sounds good, more than happy to discuss here as well if that thread gets hard to follow :)

[2016-07-21 06:57] riyazdf commented on #852
@HuKeping can you give #864 a try?  Thanks for pointing this issue out, and hopefully that fixes it (and adds a test so it doesn't fail again).  Most of our tests focus on delegation roles only one-level below targets, so unfortunately this seemed to have slipped past :(

[2016-07-21 07:22] HuKeping commented on #852
@riyazdf seems works as expected, thanks @riyazdf

So here remains the `notary list` one.

[2016-07-21 07:30] riyazdf commented on #852
@HuKeping: so I understand what remains on this issue -- are you satisfied with just continuing this conversation on `notary verify` & `notary list` on this linked issue https://github.com/docker/notary/issues/857, or are there additional behaviors with `notary list` that you're curious about?  `notary list` will only list each target name once, and uses the `--roles` flag to perform different tra

[2016-07-21 08:23] HuKeping commented on #852
Hi @riyazdf , I was thinking why we should shadow those delegation targets while on traverse , what's the design purpose about that.

If one wants to get the trust content list from a service provider, let's say http://10.0.10.1:4443, what he need to do would like be `notary list xxx` other than `notary list xxx -r yyy` because he may not know the exactly targets roles as he is just a customer.

B

[2016-07-21 14:26] jverger opened #865 "openssl test does not work for my hostname"
Hello,
for security access purposes, i couldn't build the mysql/signer/server containers on the platform where i've hav actually the issue. (could not access to git repo from this host). So i build successfully on a server with accurate access to all needed composants.
After that, i've saved/exported the containers from build platform to load them to my current platform.
On the build platform, ica

[2016-07-21 17:03] cyli commented on #865
Hi Julien!  I think the socket connection and `errno=110` seems to indicate it's unable to connect to the server at that port.  Maybe there's a routing issue?  Can you `curl -v slv-fr-poc-docker1:4443` maybe?

Can you otherwise reach the same machine using `slv-fr-poc-docker1`, maybe hitting other services that are running on that machine?

Or on that machine, can you do `nc -l -p 4443` and then h

[2016-07-21 17:08] riyazdf commented on #852
@HuKeping we decided to only list each target name once, and this has worked well for downstream consumers like docker/docker which prioritizes the `targets/releases` role.  Maybe `notary lookup <GUN> <target>` could give information about all roles that the specific target name has been published to?

[2016-07-21 17:11] cyli commented on #852
@HuKeping Also, if the ancestor no longer wants to maintain that content, they could explicitly remove that target, thus no longer shadowing the descendant.

[2016-07-21 18:37] #524 closed

[2016-07-21 19:28] jverger commented on #865
Hello Cyli,

please find the results of the différents commands:
[code]
I've tried to reach the server on that port from another one with no success:
[code]
BTW, the following test is successfull...(localhost and 127.0.0.1 too):
[code]
I've tried to push an image to my repository using localhost server as trust content server and it works perfectly
I don't know why it does not work with the server

[2016-07-21 20:38] NathanMcCauley opened #866 "Consider purge of changelists"
If a changelist fails to upload, Docker currently holds on to it forever. The only recourse a user has is manual deletion.

Consider two changes:
1. Add a `changelist purge` mechanism to notary.
2. Have docker not use local changelist files, instead preferring to dynamically generate changelists upon `push`.

[2016-07-21 21:02] endophage opened #867 "Implement `notary witness`"
It's currently possible to update a delegation role such that the existing `targets/a_role.json` file becomes invalid. This happens by removing the key(s) that have signed the currently available file from the role information contained in the parent file. Once in this situation the role cannot be republished because no client will successfully be able to pull that role.

Implement `notary witness

[2016-07-21 21:13] cyli commented on #865
Hi @jverger!  Thanks for trying it out!  And no need to read further the following if everything works for you!

But if you did need to access the service at that particular domain, and you wanted to dig into it some more...  It looks like `slv-fr-poc-docker1` is the IP 172.31.4.129 - is that one of the IP addresses for that machine?  If it is, maybe there's an `iptables` rule or something that re

[2016-07-21 21:50] cyli commented on #867
It seems like adding targets and witnessing (that is, signing a piece of metadata to make it valid) should be separate affairs, since signing can also be used to reach the threshold of signatures.

Witnessing seems to me like saying "I've looked at this piece metadata, and I approve".  Modifying it afterward doesn't seem to fit the witness use case.

But someone can pull down a repo that does not

[2016-07-22 00:13] cyli commented on #835
Heya @ecordell, apologies for not responding sooner.  So to be clear, the logic for clients when updating will now be:

1.  TUF-download chain... get to the root.  If the root is not signed by the right keys then
2.  Request all versions of roots between your old root version and the new root version from the server
3.  Just download whatever the server gives you - you get a pile of roots, which y

[2016-07-22 02:04] HuKeping commented on #852
Agree, one target should only has one copy of metadata to show up and to used to do the verification.
The problem is one target may have several metadata because both of the ancestor and descendant can publish and sign it, and there is not a overriding.
If there is some principle for example:
- the latest publishing is the right one
- ancestor's publishing is the right one
- descendant's publishin

[2016-07-22 02:12] HuKeping commented on #866
Not only Docker holds the failing changelist, Notary CLI holds that too.

[2016-07-22 09:18] jverger commented on #865
Hello Cyli,

I confirm that one of the IP address is 172.31.4.129:
[code]
No iptables rule is blocking the traffic...
[code]
Starting notary server in debug mode gives me this output (the same that the build environment :-( )
[code]
On the notary signer side:
[code]
So i cant contact notary server outside the docker host, only localhost connectivity seems to work...

Hope this informations will he

[2016-07-22 17:23] riyazdf commented on #852
@HuKeping I think that in the case of target name conflict, the ancestor's should be shown when listing targets unless the operator has another walking order they would like to prioritize (which they can do by passing roles).

This is because the ancestor can control the role data for its descendants (including valid keys), and so the ancestor is essentially an admin for its descendant roles.  The

[2016-07-22 17:37] cyli commented on #865
@jverger Thank you for all your logs!

Are you running with the default compose file?  It should bind to all interfaces, so it should be reachable from everywhere.

I would expect an openssl failure because `slv-fr-poc-docker1` is not the CN of the `notary-server.crt` nor is it one of the SANs, but `openssl` should not time out connecting to it.  :|

[2016-07-22 19:16] ecordell commented on #835
Client logic looks sound to me!

Based on the current version number the client has, and the latest version on the server, the client should have expectations about the number of files it will be downloading. In general I don't think you can make claims about size of metadata files though; it may make sense to have a client setting for maximum metadata size - there's probably some reasonable cap p

[2016-07-22 20:29] cyli commented on #835
The spec [includes a length for metadata checksums](https://github.com/theupdateframework/tuf/blob/1bed3e09a478c2c918ffbff10b9118f6e52ee129/docs/tuf-spec.txt#L620), although not for timestamp, but that should just be a very small file.  Our download logic currently specifies a constant max size for the timestamp, and then downloads the other metadata one file at a time, cutting off the response bo

[2016-07-22 21:57] riyazdf commented on #862
Closing in favor of #867

[2016-07-22 21:57] #862 closed

[2016-07-25 06:27] HuKeping commented on #852
Thanks for the detail @riyazdf

[2016-07-25 16:40] riyazdf commented on #852
@HuKeping - currently the signed delegations data you could use for auditing is viewable from the `notary list` command with the  `--role` flag values or from directly viewing the metadata files on-disk.

I think it might be nice to extend `notary lookup <GUN> <target>` to list all roles a given target is signed into, or to show this and more repo information in something like a `notary info <GUN>

[2016-07-25 19:06] endophage commented on #866
That PR needs tests before merge but can be reviewed for behaviour

[2016-07-26 08:26] jverger commented on #865
Hello,

sorry for the delay, i'm back with some informations from my latest tests.
So, accordingly with the security team, i've sucessfully build notary server/signer and mariadb database on my target server.
My target server 'slv-fr-poc-docker1' is behind a proxy so i had to give some URLs to the proxy administrator to permits queries through itself. That's the first point.
Unfortunately after a

[2016-07-27 04:04] innocentme1 opened #876 "Change example on the content trust docs"
As described in this issue: https://github.com/docker/notary/issues/799. I feel adding an example which works "only" with DCT enabled will be good and proper (Current document has an example which works even if DCT is disabled) - Maybe an example tampering manifest file? which works only if DCT is enabled. This shows users the powers of DCT. Current example is kind of slightly misleading. It was p

[2016-07-27 04:08] innocentme1 opened #877 "Root key compromise solutions?"
So, I know below possibilities for surviving root key compromise
1. Edit and sign the root.json with old, new key and distribute
2. Threshold mechanisms

Is there anything else I am missing? I (Infact, everyone) will be concerned about this root key survival as its the root of trust. So, I do not want to miss any option available. Please let me know if there are any other options available apart f

[2016-07-27 04:31] innocentme1 commented on #877
Also, what are all possible workarounds for not using the root key directly?

[2016-07-27 04:52] innocentme1 opened #878 "Why are there plaintext passwords in server-config.rethink.json file etc.?"
I am not sure on why the username and passwords are stored in plaintext format in the above file. Same with the case of signer file too.

[2016-07-27 08:53] cyli commented on #828
@HuKeping That would be awesome, thank you!

[2016-07-27 09:44] HuKeping commented on #852
I'm interested with both and going to extend `verify` with flag `--role` first.

[2016-07-27 09:44] HuKeping commented on #857
@riyazdf  I'll pick this .

[2016-07-27 16:55] cyli commented on #878
The compose file is just for development and testing purposes.  You should definitely use your own config with your own passwords, or add a startup script to pull it from etcd or however you set up your own system.

[2016-07-27 17:00] cyli commented on #877
That is basically it - you have to rotate your old key out.

And no, the only keys that can provide valid signatures for the root.json file are root keys.

If you want to avoid having to bring your root key offline when initializing new repositories, we trying to add a tool that lets you import a cert:  https://github.com/docker/notary/pull/821

The point of which is that you can use the notary cl

[2016-07-27 21:11] innocentme1 commented on #878
I dont think this particular thing was made explicit in the production precautions document : https://github.com/docker/notary/blob/master/docs/running_a_service.md

Was it? Am I missing it?

[2016-07-27 21:33] cyli commented on #878
Ah, apologies, we have no documentation for the rethinkDB stores yet because we are still working on support for it.

0.4 is probably the first release that we're officially going to provide support for for rethinkdb, so it will be coming.

We do have this line in the docs:

But you're right, it should specifically be added to https://github.com/docker/notary/blob/master/docs/running_a_service.md#

[2016-07-27 21:36] innocentme1 commented on #878
Yes - I saw that line. but yes - its definitely good to add that line to rethink documentation when documentation for it is made. Thanks for clarifying.

[2016-07-27 21:54] innocentme1 commented on #877
@cyli I think it would be a feasible solution for people not using Notary at a large scale and also have no concepts of editing the root.json file. Also, threshold mechanism will be most easy way to make the attack tougher and tougher.

Thanks anyway.

[2016-07-27 22:20] #877 closed

[2016-07-28 00:09] avaid96 opened #881 "Add --role flag for key import"
Currently a user can't import a key with a role flag. This becomes an issue becuase notary is not able to work with keys generated by openssl `openssl genrsa -out delegation.key 2048` which don't have PEM headers for role

[2016-07-28 01:22] innocentme1 commented on #828
@endophage I also think we need to some documentations on using Notary CLI. I dont there are any. I understand that this is thread is more for Notary "design" decisions but I feel we also need to add Notary CLI docs (Do we have one? Am I missing? )

[2016-07-28 01:25] riyazdf commented on #828
@innocentme1 https://github.com/docker/notary#getting-started-with-the-notary-cli, https://github.com/docker/notary/blob/master/docs/getting_started.md, and https://github.com/docker/notary/blob/master/docs/advanced_usage.md come to mind - is there a particular topic that you think we should add more documentation around for the CLI?

[2016-07-28 01:59] innocentme1 commented on #828
@riyazdf I somehow missed one of these links. I think they are pretty nice. Thanks for sharing!

Also, I feel maybe we can add a good example to rotating keys too? just as you guys did for others. Maybe take a example collection and show command by command to users for rotating keys? Rotating keys is really important and I feel it would be nice to see that but if you feel its not necessary - then

[2016-07-28 02:13] HuKeping commented on #881
I came across the same issue

[2016-07-28 16:41] riyazdf commented on #828
@innocentme1 we have a [key management subsection](https://github.com/docker/notary/blob/master/docs/advanced_usage.md#rotate-keys) in the Advanced Usage docs that covers key rotation (also on the [docs website](https://docs.docker.com/notary/advanced_usage/#/rotate-keys)).

I totally agree with you that rotating keys is an important piece of documentation, so if you have a particular example in m

[2016-07-28 18:01] cyli opened #883 "Support wildcard root certs"
So that `--root-cert` can work for multiple repos.  This would mean that throwaway root keys can be generated when initializing a repo, and the real root key doesn't have to be online.

[2016-07-29 00:06] riyazdf opened #885 "-p flag for auto-publish on staged commands"
It'd be nice to have a `-p` flag (or similar) to automatically attempt to publish after staging a change in a notary CLI command.  For example: `notary init -p`, `notary add -p`, `notary remove -p`, `notary delegation add -p`, `notary delegation remove -p`, and `notary addhash -p`

[2016-07-29 00:36] #817 closed

[2016-07-29 20:45] endophage opened #887 "notary endorse command"
Should allow the user to provide a target name which is looked up in the current repo then signed into the additional roles specified by the user.

N.B. would be great to have some kind of default role selection.

[2016-07-29 20:46] endophage opened #888 "Update to protobuf 3.0.0"
Protobuf 3.x is now GA. We should update to it rather than continuing to use a beta version.

[2016-07-29 22:49] #696 closed

[2016-08-01 04:30] innocentme1 commented on #876
@cyli @endophage Any thoughts?

[2016-08-01 21:26] endophage commented on #876
@innocentme1 we could definitely create a docker hub image repo for which we intentionally didn't publish any trust data, causing it to fail when DCT is enabled.

I'd be reticent to provide an example with actual tampered data because that would require bypassing a lot of safety, integrity, and consistency checks in docker hub and registry and could (as highly unlikely as it may be) result in corr

[2016-08-02 14:27] rusirenye opened #892 "when I use "docker-compose build " command to build notary, it comes some problems，how could I solve it"
Step 4 : RUN go get github.com/mattes/migrate
 ---> Running in 2d9d1c9a378e
package golang.org/x/net/context: unrecognized import path "golang.org/x/net/context" (https fetch: Get https://golang.org/x/net/context?go-get=1: dial tcp 216.58.221.241:443: i/o timeout)
package gopkg.in/inf.v0: unrecognized import path "gopkg.in/inf.v0" (https fetch: Get https://gopkg.in/inf.v0?go-get=1: dial tcp: looku

[2016-08-02 16:36] riyazdf commented on #892
Hi @rusirenye - I have not been able to reproduce this myself, but after searching around it seems like this might be related to the proxy network configuration issues described on https://github.com/golang/go/issues/12810?

[2016-08-02 16:38] riyazdf commented on #866
Closing after merging #856 with the `--reset` flag

[2016-08-02 16:38] #866 closed

[2016-08-02 16:42] riyazdf commented on #878
Updated checklist in https://github.com/docker/notary/issues/828 to include rethinkdb, closing this issue.

[2016-08-02 16:42] #878 closed

[2016-08-02 16:48] riyazdf commented on #797
Closing after @cyli's awesome work in https://github.com/docker/notary/pull/824, https://github.com/docker/notary/pull/854, and https://github.com/docker/notary/pull/863

[2016-08-02 16:48] #797 closed

[2016-08-02 16:49] riyazdf commented on #852
@HuKeping sounds good - closing this issue in favor of https://github.com/docker/notary/issues/857

[2016-08-02 16:49] #852 closed

[2016-08-02 16:51] riyazdf commented on #790
Closing this for now since we haven't gotten more detail, but please feel free to re-open or file a new issue if something comes up

[2016-08-02 16:51] #790 closed

[2016-08-02 16:53] rusirenye commented on #892
@riyazdf  thank you very much.  I try to set network proxy environment variable  in docker file ,then go get github.com/mattes/migrate command works all right. It seems  that golang:1.6.3-alpine images container can't use host network proxy.

[2016-08-02 16:54] riyazdf commented on #596
I think this is closed after #856, the details relate more to #550 since the changelist already contains a short summary of each staged change

[2016-08-02 16:54] #596 closed

[2016-08-02 16:57] riyazdf commented on #527
Resolved with https://github.com/docker/notary/pull/824

[2016-08-02 16:57] #527 closed

[2016-08-02 17:10] riyazdf commented on #337
Closing with the addition of https://github.com/docker/notary/blob/master/buildscripts/covertest.py

[2016-08-02 17:10] #337 closed

[2016-08-02 17:27] #833 closed

[2016-08-02 21:36] riyazdf commented on #892
@rusirenye great to hear that we've diagnosed the issue!  As you mention, it seems like an issue with golang:1.6.3-alpine and proxy configuration -- I'm inclined to close the issue on notary but if you think that we could somehow mitigate the issue on our side feel free to re-open this issue or file another one.

[2016-08-02 21:36] #892 closed

[2016-08-03 01:02] HuKeping opened #894 "Rework health check for notary-signer"
Per the [official documentation](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) . An empty name triggers a check for generic health of the whole Notary-Signer service , the client(Notary-Server or maybe some control system) can optionally set the service name(maybe `kmClient` and `sClient`) it wants to query for health status.

Superseded #226

After #890

/cc @cyli

[2016-08-03 01:17] HuKeping commented on #894
#dibs

[2016-08-03 03:03] cyli commented on #226
Closing in favor of #894

[2016-08-03 03:03] #226 closed

[2016-08-03 03:18] cyli commented on #324
We have a specific test for signing with a key that doesn't exist now:  https://github.com/docker/notary/blob/master/signer/rpc_and_client_test.go#L203

[2016-08-03 03:18] #324 closed

[2016-08-03 03:22] cyli commented on #633
@HuKeping Would it be alright to close this?  Your awesome logging fix has been merged, and as per the conversation above, restarting so long as we have graceful shutdown (#712 and #711) would be sufficient to reload other configuration.

[2016-08-03 03:26] cyli commented on #598
It will not generate a new timestamp or snapshot if the root is expired, since it uses the builder to load the root.  However, it will not return the original timestamp/snapshot, it will just fail with a 500 - we should probably change this to return the original if there is one.

[2016-08-03 03:27] HuKeping commented on #633
sure, closing

[2016-08-03 03:27] #633 closed

[2016-08-03 08:55] HuKeping commented on #712
#dibs

[2016-08-03 08:55] HuKeping commented on #711
#dibs

[2016-08-03 18:17] #888 closed

[2016-08-03 23:43] #562 closed

[2016-08-03 23:44] riyazdf commented on #867
closed by #875

[2016-08-03 23:44] #867 closed

[2016-08-04 00:38] innocentme1 commented on #876
@endophage I am not sure if you got me right (or I got you right). I am trying to explain that we need to write a better example under the "Test with Malicious Images" section. Current example is not showing the actual DCT mechanism. That works even without DCT i.e., Image layer tampering detection works even without DCT. What DCT explicitly provides is manifest file integrity (as you know).

So,

[2016-08-04 10:29] rusirenye opened #897 "notary list command show client off-line"
when use notary list command
[code]
and  My notary server is ok
[code]
docker.io ping failed as fellow:
[code]
So, I wonder that it'something wrong with my configure or installment. and can you give some advice to fix it.

[2016-08-04 16:24] riyazdf commented on #897
hi @rusirenye, in the command you posted the `-s https://notary.docker.io` flag means that your notary client will try to connect to a notary server at that URL (which corresponds to the notary server that is deployed for Docker Hub).  If you instead want to connect to your local notary server, you can change the `-s` flag to point to that host.

Could you please try running your `notary list` com

[2016-08-05 03:44] HuKeping commented on #885
Add command list:
- [X] notary init -p
- [X] notary add -p
- [X] notary remove -p
- [ ] notary delegation add -p
- [ ] notary delegation remove -p
- [ ] notary addhash -p

[2016-08-05 03:48] HuKeping commented on #897
I'm agree with @riyazdf , it seems like the connection problem between notary-client and notary-server

[2016-08-05 22:16] cyli commented on #835
@ecordell Apologies for not following up on this sooner!   After discussing as a team, this sounds like a good plan, if you would like to (or have already) worked on it.  :)

[2016-08-05 22:20] cyli commented on #841
Again, really sorry for not following up on this and #835 for a while.  I think yes, proposing a UI might be good, and maybe starting with a simplistic model would be good?

Also, on a related note, not sure if you saw, but @endophage recently worked on the `witness` command (#875) to re-validate a delegation that was invalidated by removing one of the valid signing keys (if someone has left the t

[2016-08-05 23:59] cyli opened #898 "Correctly translate ErrOldVersion errors"
Both the `storage` and the `server` packages have `ErrOldVersion`, and for one we return 400 (https://github.com/docker/notary/blob/master/server/handlers/default.go#L108) and the other one results in a 500.  Both should return 400, and really we should just eliminate one of them.

[2016-08-06 00:16] dhiltgen opened #899 "When running in CI system (no TTY) give up on passphrase"
When running in a CI system where no TTY is attached, if something goes wrong, notary winds up asking for a root pass phrase over and over without end.  We recently had our CI system run out of disk space due to gig's of logs with the repeating pattern:

[code]

Notary should be smarter and give up asking for a passphrase when there's no tty instead of looping.

[2016-08-06 00:33] cyli commented on #898
Actually sorry, we translate one to the other, because one is an errcode type error, and the other is not.  The issue seems to be that we are testing for a concrete type instead of a pointer.

[2016-08-06 09:05] rusirenye commented on #897
Thank you @riyazdf . the notary list command with -D:
[code]
and  docker ps information an follow:

[code]

[2016-08-08 02:27] HuKeping commented on #897
`could not reach https://notary-server:4443`

Could you please `ping notary-server` to see if it was accessible

[2016-08-08 18:54] endophage commented on #876
I understood you. I'm just trying to think of a way to demonstrate the behaviour without actually providing a malicious/bad/broken image on the hub. The problem being the hub deduplicates data so there is always the possibility somebody later tries to push the mismatching layer and because it already exists, their new data doesn't get uploaded. Their subsequent pulls of their image would then pull

[2016-08-08 21:44] #710 closed

[2016-08-08 21:46] #898 closed

[2016-08-09 17:08] #885 closed

[2016-08-09 23:01] #860 closed

[2016-08-09 23:03] #734 closed

[2016-08-10 00:44] #846 closed

[2016-08-10 01:11] HuKeping opened #905 "Docs for attack"
Does it make sense to make some docs for the attack examples which listed in [Threat model](https://github.com/docker/notary/blob/master/docs/service_architecture.md#threat-model)

For example, why get the "Decrypted Delegation Key + Decrypted Snapshot Key + Notary Service write-capable credentials" can leads a "limited Freeze attack"

[2016-08-10 01:24] #847 closed

[2016-08-10 01:24] #752 closed

[2016-08-10 11:24] ecordell commented on #835
@cyli No worries! My delay has been making sure we work with TUF to clarify this issue in the spec and update it in the reference implementation.

After appropriate review here (https://github.com/theupdateframework/tuf/pull/341) I think it makes sense to start working on this. Happy to take that on if it hasn't already been started.

[2016-08-10 13:10] ecordell commented on #841
I saw #875 and I agree, I think that's the same mechanism that should be used for threshold signing. I'm not sure about requiring the checksum to be in the snapshot though, unless we do combinatorial signing as mentioned above.

Just to keep this discussion moving, here's a spitballed UI for witnessing. For now we'll assume a server managed snapshot to make this simpler.

[code]

So this is the ha

[2016-08-10 16:45] #347 closed

[2016-08-10 16:45] riyazdf commented on #347
Closed with #889

[2016-08-10 16:53] cyli commented on #905
@HuKeping That would be great!  Probably nothing terribly elaborate, but one or two sentence examples would be great!

[2016-08-10 17:04] endophage commented on #899
It should give up after 10(?) retries. But if enabled, the password should be in the environment anyway.

i.e. Either there should be a password, or it shouldn't be enabled. If you're running in some other configuration it would be useful to us to understand what the use case is.

[2016-08-10 17:42] endophage commented on #899
Ok, there's a bug with the 10 retries that I thought had been fixed so we've moved this issue into scope https://github.com/docker/notary/issues/812

We'll also take a look at detecting if there's no terminal attached.

[2016-08-10 17:51] dhiltgen commented on #899
The scenario where I hit this was using delegation and I forgot to add the delegation key to a new repository that was created.

[2016-08-10 21:06] endophage opened #907 "Look at replacing the docker term package with crypto/terminal"
Go includes the crypto/terminal package in the core libraries and docker's term package pulls in other dependencies. I think crypto/terminal supports all the functionality we need (read a password without local echo and check if descriptor is a terminal) and would unwind one of our more painful dependencies.

[2016-08-10 22:52] #881 closed

[2016-08-11 00:14] #812 closed

[2016-08-11 00:14] #899 closed

[2016-08-11 06:57] HuKeping commented on #905
Hi @cyli ,actually I file this issue for seeking help :smile:

[2016-08-11 13:12] ahmed-bacha opened #909 "ReadMe instructions not working"
Hi,

When starting  Notary as said in the ReadMe (with docker-compose) , it does not work:

[code]

Thanks :)

[2016-08-11 16:52] cyli commented on #909
Hi @ahmed-bacha - it the build timed out attempting to download packages when installing - there may have been a network issue.  Could you try again?

[2016-08-12 01:52] HuKeping commented on #907
I'd like to pick it up:)

[2016-08-12 16:35] endophage commented on #907
Awesome!

[2016-08-12 20:25] dnwake opened #914 "Notary requires an X509 cert's common name to match the GUN exactly, but the length of a common name is restricted to 64 chars"
In order to be valid, Notary requires that any cert must have a common name that matches the GUN.  See https://github.com/docker/notary/blob/master/trustpinning/certs.go#L178

However, RFC3280 imposes a maximum length of 64 characters on the common name of an X509 certificate.  See https://www.ietf.org/rfc/rfc3280.txt (search for ub-common-name).

When using Notary with Docker, it is easy to end u

[2016-08-13 00:10] riyazdf commented on #914
Thank you @dnwake for pointing this out!  I'm going to link this issue to https://github.com/docker/notary/issues/883 since it's similar in nature, but different

[2016-08-14 12:36] ashishjain14 opened #916 "Notary push fails with HTTP 400 response body: invalid character 'B'"
I have a notary setup which uses tls and token authentication. I am able to use Notary
1) Without tls on localhost
2) With tls enabled from remote host

However I am unable to do push,pull once I enable token authentication  on notary. I am using cessanta docker-auth server and I am able to use the same with docker registry. I keep getting the following error

docker push xxxxxxxxxxx:5000/golang:t

[2016-08-15 07:57] HuKeping opened #917 "Cleanup signer.proto"
We could drop some unused structure in `signer.proto` after the refactoring of health check #902

[2016-08-15 17:02] cyli commented on #916
Hi @ashishjain14 - sorry for the inconvenience!.

Looks like the cessanta docker auth server [does not expect the resource name to have a `server:port` number](https://github.com/cesanta/docker_auth/blob/master/auth_server/server/server.go#L171), which [does not exactly conform to the spec, as a resource name can have a hostname, which can include a port](https://github.com/docker/distribution/blo

[2016-08-15 17:21] cyli commented on #905
@HuKeping Ah ok!  Sure we can try to add that :)

[2016-08-15 18:23] #310 closed

[2016-08-16 17:02] ashishjain14 commented on #916
Thanks have filed a bug with them and looks like the issue is fixed. I will close this issue now will reopen if any further help is required,

[2016-08-16 17:02] #916 closed

[2016-08-16 17:43] avaid96 opened #922 "Low Priority: VerifySignatures in tuf/signed/verify.go should not mutate signed objects ideally"
Discussion IRL with @riyazdf

This is a low priority relating to better design

The following ideas may be combined:
1. Make VerifySignatures take in only a list of Signatures. This way you can call it with a signedTargets object or a Signed object. Alternatively, we could pass in a pointer to this list and mutate it as well. We don't need entire data.Signed objects since we only use the Signature

[2016-08-17 11:01] HuKeping commented on #823
I test that on both x86 and arm64 platform, seems works as expect :), but of course a test make much more sense!

[2016-08-17 11:04] HuKeping commented on #815
Do we really need to reduce the cyclomatic since we often generate a common used function which would also +1 the number.

[2016-08-17 17:47] cyli commented on #916
Thanks for the update @ashishjain14!

[2016-08-17 17:47] #907 closed

[2016-08-17 18:42] ashishjain14 commented on #916
Thanks for your help and prompt reply on this. BTW you know docker is amazing and you guys too :+1:

[2016-08-17 19:25] cyli commented on #835
Oops, sorry, I thought I had hit "comment" - no one is working on it yet.  :)

[2016-08-17 19:52] cyli commented on #916
@ashishjain14 Thank you so much for your kind words!  Always good to hear :)

[2016-08-18 21:38] cyli commented on #909
@ahmed-bacha I'm going to close this for now since the error looks like it may have been a temporary network glitch between your machine and the alpine package update server, but please re-open this issue or file a new one if you continue to have problems!  Thank you for trying out notary!

[2016-08-18 21:38] #909 closed

[2016-08-19 05:04] rusirenye commented on #897
`root@dgp:~/notary# ping notary-server
PING notary-server (127.0.0.1) 56(84) bytes of data.
64 bytes from notary-server (127.0.0.1): icmp_seq=1 ttl=64 time=0.045 ms
64 bytes from notary-server (127.0.0.1): icmp_seq=2 ttl=64 time=0.043 ms
64 bytes from notary-server (127.0.0.1): icmp_seq=3 ttl=64 time=0.049 ms
64 bytes from notary-server (127.0.0.1): icmp_seq=4 ttl=64 time=0.046 ms
`

[2016-08-19 05:05] rusirenye commented on #897
`
root@dgp:~/notary# ping notary-server
PING notary-server (127.0.0.1) 56(84) bytes of data.
64 bytes from notary-server (127.0.0.1): icmp_seq=1 ttl=64 time=0.045 ms
64 bytes from notary-server (127.0.0.1): icmp_seq=2 ttl=64 time=0.043 ms
64 bytes from notary-server (127.0.0.1): icmp_seq=3 ttl=64 time=0.049 ms
64 bytes from notary-server (127.0.0.1): icmp_seq=4 ttl=64 time=0.046 ms

`

[2016-08-19 07:05] cyli commented on #897
Could you have a look at your notary-server logs?  `docker-compose logs server` or `docker-compose logs` for all the server and signer and DB logs?

I ask because I'm wondering if, in `ERRO[0000] could not reach https://notary-server:4443: Get https://notary-server:4443/v2/: Service Unavailable`, "Service Unavailable" means that the server is 500'ing.

[2016-08-19 14:30] LenutaToderean opened #927 "tls: oversized record received with length 20527"
I am trying to push an image to a registry and I receive "tls: oversized record received with length 20527". Notary is up and running and the DOCKER_CONTENT_TRUST is set up to 1.

[2016-08-19 16:41] riyazdf commented on #927
Hi @LenutaToderean, how have you set up TLS against the registry and Notary?

I haven't seen experienced this exact issue before myself, but it seems related to the error that is [documented here](https://docs.docker.com/registry/insecure/#/failing) for attempting to communicate with a registry that does not support TLS.  There's a similar docker issue here as well: https://github.com/docker/docke

[2016-08-19 17:21] #894 closed

[2016-08-19 17:21] #917 closed

[2016-08-19 22:38] endophage opened #928 "Upgrade to Go 1.7"
Upgrade circle CI to use Go 1.7, fix any breakage that causes (none expected based on release notes).

This should give us faster, smaller binaries. Among other specifically interesting improvements, sha256 has been sped up by 10% or more, and we do a lot of sha256 hashing.

[2016-08-19 23:03] cyli commented on #928
We may have some lint fixes I think for go 1.7.  On RC5 I see:

[code]

[2016-08-19 23:32] riyazdf commented on #928
@cyli: If I remember correctly, I think that vet issue was handled by https://github.com/docker/notary/pull/793?

[2016-08-19 23:38] cyli commented on #928
I still seem to be seeing it :|

[2016-08-19 23:41] riyazdf commented on #928
ah, yes, you're right.  We can make a similar change 👍

[2016-08-20 02:19] HuKeping commented on #928
Hola Go 1.7!

[2016-08-20 09:05] rusirenye commented on #897
thank you very much @cyli @HuKeping @riyazdf
I solved this problem by deleting network proxy. When I "wget  https://notary-server:4443" , the error shows that proxy tls  can't connect. so I  try do it , it works .

[2016-08-20 10:56] HuKeping commented on #897
Thanks for the checking @rusirenye !

Maybe we could also add this tips somewhere in the docs? ping @cyli @riyazdf

[2016-08-23 17:58] endophage opened #930 "Update to gRPC 1.0"
Not sure what exactly is required here but probably need to:

- make sure we install the correct version if any of the containers are installing and building the protobufs
- update the vendored dependencies
- rebuild the protobufs committed into the repo.

https://cloudplatform.googleblog.com/2016/08/gRPC-a-true-Internet-scale-RPC-framework-is-now-1-and-ready-for-production-deployments.html

[2016-08-25 12:43] LenutaToderean commented on #927
Thank you very much but I am still facing the same error. I am getting this error only with DOCKER_CONTENT_TRUST enabled.

[2016-08-25 17:05] cyli commented on #927
Hi @LenutaToderean!  Have you set your content trust server to point to your running notary server?  `DOCKER_CONTENT_TRUST_SERVER` to point to the URL of your running notary?  Otherwise it will probably assume that the content trust server is available from your registry.

[2016-08-26 08:36] LenutaToderean commented on #927
@cyli This was the problem. Thank you very much!

[2016-08-26 14:31] ahmed-bacha commented on #909
Thanks @cyli , it was a network issue as you said

[2016-08-26 17:01] #930 closed

[2016-08-26 18:25] endophage opened #932 "Improve Dependency Injection for NotaryRepository initialization"
Currently it takes a basedir and a RoundTripper, this is fine for `NewNotaryRepository` which should be a simplified initializer with assumptions made. However, for unusual use cases and testing, it would be helpful to be able to inject a cache and RemoteStore directly.

We think this should probably be done by exporting `repositoryFromKeystores` (and maybe renaming it to something like `NewReposi

[2016-08-26 18:26] endophage opened #933 "Add etcd support for server and signer configs"
The expectation is that the whole config would be written into etcd as a single json object. Config should probably be made its own package so we can also dedupe some of the commonalities between server and signer.

[2016-08-29 13:02] LenutaToderean opened #935 "* fatal: Get https://localhost:4443/v2/: x509: certificate signed by unknown authority"
When I want to list the trusted data for busybox image from my private registry I receive "* fatal: Get https://localhost:4443/v2/: x509: certificate signed by unknown authority".  I sign using docker notary:signer-0.3.0 and notary:server-0.3.0 images and my own certificates and keys.

[2016-08-29 15:51] riyazdf commented on #935
Hi @LenutaToderean, could you try taking a look at the `root-ca` field in notary client config file?

If you followed the instructions on the README for notary, it's in `~/.notary/config.json`, and only trusting the fixture certificates that we provided with notary, which might be the problem you're running into.

To fix this, you will want to set `root-ca` to point to your CA certificate (the con

[2016-08-29 18:28] endophage commented on #841
Hey Evan,

#875 was just to specifically cover the case of delegations that have become invalid due to removed keys (hence why the data is also expected to still be in the snapshot, at least under our current implementation models). Prior to merging it, delegations would become permanently unusable if all valid keys were removed. However, I figured the witness command could be expanded to cover al

[2016-08-29 19:17] ecordell commented on #841
Great, it sounds like we're on the same page and ready to get a PR and some bikeshedding going!

I'm currently working on some notary changes that have already been discussed and validated:

- The new root key rotation scheme that allows deprecating old keys (#385)
- The first half of this, supporting thresholds (if threshold > 1, all keys must be locally available to the signing party).
- The sec

[2016-08-29 21:07] endophage commented on #841
Sounds good! Have you considered the timescale for switching the root key rotation behaviour? We probably need some duration of overlap, where we continue to try and sign with all the old keys, while also being able to request multiple root.json files as a signer to accept a rotation. If we don't do this, all current versions of the docker integration will break.

I think the current support timef

[2016-08-30 07:03] LenutaToderean commented on #935
@riyazdf : Thank you very much! This was the problem.

[2016-08-31 18:32] riyazdf commented on #897
@rusirenye glad that worked!

@HuKeping sorry I didn't get to this earlier. I'm a little hesitant to include documentation about network proxies since they can be quite custom and removing them might not always be the best advice.  Maybe let's hold off for now and add tips if we find similar issues from more users?  I'll close this for now, feel free to re-open :)

[2016-08-31 18:32] #897 closed

[2016-08-31 23:30] sabada opened #937 "Issues Setting Up Notary Server"
I am trying to set up my own notary server, but I run into the error "x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "notary-server")"

I have been following the guidelines suggested in the docs, and have generated my own keys and certificates using the following command:
`openssl req -x509

[2016-08-31 23:43] riyazdf commented on #937
Hi @sabada, could you please post more logs from notary-server and notary-signer so we can get a better idea of where exactly you're experiencing this failure?  Also, what are you using for your notary signer config?

One things that jumps out as I'm reading through this is that the cert/key generation command you pasted generates a self-signed cert, and that may not line up against a different `.

[2016-09-01 01:37] HuKeping commented on #937
Hi @sabada could you please also try
[code]
to see if you have already installed the cert to your system cert bundle.

I think this might be  much more like a cert issue than notary.

[2016-09-01 17:49] sabada commented on #937
Thanks for the response, it does seem like it is some cert issue as the logs for notary-server tell me
`2016/09/01 17:43:03 http: TLS handshake error from 172.18.0.1:55268: remote error: bad certificate`

and the last log for notary-signer is telling me the version number and git commit
`{"level":"info","msg":"Version: 0.3, Git commit: a9b2b95","time":"2016-09-01T17:42:47Z"}`

I did fix up my conf

[2016-09-01 20:37] riyazdf commented on #937
@sabada `x509: certificate signed by unknown authority` means that the specified root CA does not properly chain to the leaf certificate presented.

It would be helpful to us if you could describe when you're hitting this failure -- is this when starting the notary server and signer containers, or when trying to connect with a notary client?

If it's when the client is trying to connect to a notar

[2016-09-01 21:12] sabada commented on #937
I believe there is a problem when the client is trying to connect to a notary-server since the issue is occurring while I am trying to do a docker push. I also just tried for first time running online commands like notary list, and I get `fatal:client is offline`

My config files are listed below, and I am pointing it to my created cert files.

notary-server config file
[code]

notary-signer confi

[2016-09-01 21:23] riyazdf commented on #937
Ok thanks!  Just to check: you're running with `DOCKER_CONTENT_TRUST=1` and `DOCKER_CONTENT_TRUST_SERVER=<url_to_your_server>` right?  And also, you aren't getting any errors in the server/signer logs before you try to contact them with a `notary` or `docker` command?

If so, it seems like the issue is indeed related to #935 - your notary CLI is trying to trust `./root-ca.crt` as the root CA for t

[2016-09-01 21:36] sabada commented on #937
So I have set `DOCKER_CONTENT_TRUST=1` and `DOCKER_CONTENT_TRUST_SERVER=https://notary-server:4443` and the logs look fine until I get the TLS handshake error. I am a little confused on what I should be changing the `remote_server.root_ca` to.

Currently when i run `notary -D list` this is the output

[code]

[2016-09-01 21:49] riyazdf commented on #937
If you have the server certificate in your trusted system certificates, you can just try removing that value altogether, such that your config looks like:

[code]

You could also try setting it to `notary-server.crt`, if you'd prefer

[2016-09-01 21:51] cyli commented on #937
Also, just to be certain we understand how everything is laid out in your FS, and what the files look like:

1.  The self-signed `root-ca.crt` was something that you generated, and that root key was used to sign your own `notary-server.crt` and `notary-signer.crt`?  And your own `root-ca.crt` is in the same directory as your client config file?  (the paths for each config file are relative to your

[2016-09-01 21:55] cyli commented on #937
@sabada oops, sorry, @riyazdf just pointed out to me that the openssl command above doesn't generate a root CA cert.  In which case he is totally correct and if there is no root CA, it should be removed from the config.  :)

[2016-09-01 22:09] sabada commented on #937
Thanks! So now I am not getting any errors when running `notary -D list` but the docker push is still giving me the same error.

When I run `docker -D push` this is what I get:
[code]

Is the notary client connecting fine? There is still nothing else in the logs other than the TLS handshake error

[2016-09-01 22:31] riyazdf commented on #937
@sabada: glad to hear that notary's working now!

The notary CLI config is only used for the `notary` commands.  For docker commands you'll need to add `notary-server.crt` to `.docker/tls/notary-server:4443` as `ca.crt`

[2016-09-01 22:35] sabada commented on #937
Thank you so much for all your help! I was able to push now and everything seems to be working fine!!!

[2016-09-01 22:59] riyazdf commented on #937
glad it's all working!  Closing this issue, but please feel free to re-open this issue if you run into more cert-related config problems :)

[2016-09-01 22:59] #937 closed

[2016-09-02 17:01] #928 closed

[2016-09-02 21:54] sabada opened #939 "Rotation of Root Keys"
Hi,

I just had a quick question regarding the rotation of root keys. I see that when I rotate a root key, I must sign it with the old key, and I then need both root keys otherwise I get an error saying it is missing. (If I do a rotation then I need all previous root keys)

I looked through previous issues and I wasn't sure if I 100% was understanding, but I believe from also reading the TUF spec

[2016-09-02 23:14] riyazdf commented on #939
hi @sabada - yes indeed, you will need to sign with the previous key when performing a root rotation to a new key.

There's some discussion in this related issue https://github.com/docker/notary/issues/835 about our current design decisions in notary to version old root roles and keep keys in those roles, as well as a proposal to change that mechanism.  If you'd like to follow up here, or in that

[2016-09-06 12:51] LenutaToderean opened #940 "Q: What hashes : sha256 from target.json (~/.docker/trust) means?"
I don't understand what hashes (sha256) from target.json mean. What is the connection between it and the digest of the image or between it and anything else.

[2016-09-06 14:13] riyazdf commented on #940
Hi @LenutaToderean, when pushing with Docker Content Trust, the `targets.json` contains mappings from image tag names to [digests](https://docs.docker.com/registry/spec/api/#/content-digests) of image manifests.  This is the same digest you see when you push an image by tag, at the end of the console output.

The manifest that is specified by hash in the `targets.json` specifies the content-addres

[2016-09-06 17:27] sabada commented on #939
Thanks for the response,

So looking at [this comment](https://github.com/docker/notary/issues/835#issuecomment-234421511) the reason I am being asked for all my root keys is because after rotating is that root.json has not been signed by the new key so it asks for all the keys in between?

[2016-09-06 20:15] riyazdf commented on #939
Hi @sabada - the comment you linked to is a proposal for changing the current mechanism.

Currently as [specified by TUF](https://github.com/theupdateframework/tuf/blob/1bed3e09a478c2c918ffbff10b9118f6e52ee129/docs/tuf-spec.txt#L988), it's required to sign with all old keys until all clients have seen the new version -- but it's unreasonable to make any assumptions about when clients will see the

[2016-09-06 21:47] sabada commented on #939
Ahh that makes sense, so if I really wanted to completely get rid of old keys I would have to manually edit root.json, otherwise I should be using old keys as well every time?

[2016-09-06 22:10] riyazdf commented on #939
Yes - the list of keys in the  `keys ` section of `root.json` is used to enumerate the valid keys that could be used for signing -- so you could indeed remove the old keys from the `root.json`.

However, if you manually remove the old keys (or just choose not to bring the private key material online at signing-time) you will not sign the root with the old keys and therefore risk breaking clients w

[2016-09-07 06:12] LenutaToderean commented on #940
@riyazdf Thank you!

[2016-09-07 16:06] riyazdf commented on #940
@LenutaToderean no problem!  I'll close this issue, please re-open or open a new issue if you have more questions about this topic or would like to see some material added to the docs

[2016-09-07 16:06] #940 closed

[2016-09-07 16:26] jverger commented on #865
Hello,

finally i've found a workaround that consist in erasing all containers, networks and volumes using docker-compose down (containers+networks) and docker volume rm notary_notary_data commands and docker rmi all pulled images to start a clean docker-compose build.
Really don't know why i've to do all these things...
Hope it can help someone who has the same issue

Regards

[2016-09-07 16:26] #865 closed

[2016-09-07 16:42] lewiada commented on #342
Any update on this?  This is a very big deal and am looking forward to it being a part of Docker.

[2016-09-07 17:06] cyli commented on #865
Thank you for posting this for others, @jverger, and the extensive debugging logs.  Apologies for the lack of response - I have no idea what caused the issue, and neither did anyone I asked.

Really appreciate the follow-up!

[2016-09-07 20:19] endophage commented on #342
@lewiada we haven't done any work on this so far. Unfortunately we've all been working on other priorities.

@cyli @HuKeping @riyazdf as an idea on supporting this (and other notary config) sooner rather than later, would it make sense for the docker integration to simply look for a notary config file in `~/.docker/trust`? I imagine we'd also want to refactor some of our CLI config loading such th

[2016-09-07 20:22] cyli commented on #342
That sounds simple enough, especially since repo names can be wildcarded

[2016-09-07 20:44] riyazdf commented on #342
@endophage that proposal sounds good to me 👍

No need for anything more complicated on the docker-side, and makes notary configs portable to DCT

[2016-09-07 21:06] endophage commented on #342
Cool. I think the one thing we'd need to add is the ability to configure per GUN prefix. i.e. `docker.io/*` has one configuration, `my_stuff.com/*` potentially has something else.

If we add a config version at the top level of the JSON struct we can add that later though. Current version would be `0` so that existing configs without a version are correctly parsed with the zero value populated by

[2016-09-07 21:31] ecordell commented on #841
I think this is addressed simply by doing a phased deployment that makes sense for your timeline. New clients can be rolled out immediately (because the client behavior doesn't change w.r.t old servers), and after an adequate period, the server can be rolled out as well.

The good news is that current servers are already storing past versions, so the transition should be fairly easy. See #942 for

[2016-09-07 21:33] endophage commented on #841
I wasn't actually thinking of client-server problems, I'm confident we can handle those. I was thinking of client-client problem. One user pushes with a new client, can an older client still successfully accept a root rotation in all cases?

[2016-09-07 22:03] sabada commented on #939
So whenever I rotate my root key, it should add to my `root.json` correct? Because I noticed when I rotate once, `root.json` is not touched, but then when I rotate a second time, then it is modified.

[2016-09-07 22:51] riyazdf commented on #939
@sabada - this is because your notary client will auto-publish to the server but does not have the same `root.json` cached locally.  If you run a `notary list <GUN>` your local `root.json` should update accordingly.

[2016-09-08 08:38] LenutaToderean commented on #940
@riyazdf Thanks a lot!

[2016-09-08 12:12] justincormack opened #944 "will not build with Go 1.7"
Attempting to build with Go 1.7 I get

[code]

[2016-09-08 12:21] HuKeping commented on #944
Hi @justincormack  could you please make sure you build with the `master` because I don't see there is such a file under `$notary_dir/trustmanager`

[2016-09-08 12:23] justincormack commented on #944
Oh, sorry my fork was out of date.

[2016-09-08 12:23] #944 closed

[2016-09-08 14:51] lewiada commented on #342
as a thought, there is another huge (usability) benefit that comes with enabling trust-pinning in Docker.  Using the strict definition of the TUF root-key requires the root-key to be taken out of the safe each time a new repo is created.  In a DevOps environments, we will be creating new repos all the time.  A developer or automation tool needs a way to seamlessly obtain a delegated tagging key.

[2016-09-08 15:32] ecordell commented on #841
I will take some time to verify the current behavior. Based on the tests, I would say that a client will accept a root rotation. The current test suite doesn't actually verify the "signed by all previous roots" property (as I assumed), it actually just verifies "signed by immediately previous root." This could be a good thing for forwards-compatibility.

A client using TOFU would just need to dele

[2016-09-08 16:21] endophage commented on #841
I've always looked at the existing tests a little more generically: they test that the new root is signed with some previous set of keys I already knew about. The other factors, version numbers, presence or not of additional signatures, are incidental.

[2016-09-08 16:46] sabada commented on #939
Ahh, that makes sense. I know see it being updated. So then if I wanted to edit `root.json` locally, I would then have to publish the changes to the server? Otherwise my cached version would eventually get overwritten?

So right now if I edit `root.json` and then try to do like `notary list <GUN>` I get an error saying `fatal: could not validate the path to a trusted root: failed to validate integ

[2016-09-08 16:49] endophage commented on #342
@lewiada we've been discussing automated flows a lot internally so with that use case, you're the perfect person to tell us what you think about this idea we've been discussing on and off:

Rather than using a CA, which brings additional overhead in managing it correctly, what if you could pin a single root key for multiple repos with some simple wildcarding rule.

Anybody creating a new repo woul

[2016-09-08 17:02] riyazdf commented on #939
Ok, glad that you were able to see the updates.  For root, snapshot, and timestamp key rotations, we publish the change directly to the notary server.  Running `notary list` or any other online notary command will make your client fetch the latest updates from the notary server before mutating or presenting any data.

Right now, the error you're running into is that the new root that you've modifi

[2016-09-08 17:59] ecordell commented on #841
I've verified this in a test:

[code]

This does the following:
  - Sets keys to `A`, signs with `A`
  - Sets keys to `B`, signs with  `A, B`
  - Sets keys to `C`, signs with `B, C`

I ran this against master and it passed. If you agree that the test is correct, then old clients are not verifying that they are signed by all previous roots, but rather just that they meet the immediately previous ro

[2016-09-08 21:28] cyli commented on #841
@ecordell The client actually only cares that it matches the previous role *that it knows about*, not necessarily the immediate previous role.  The client doesn't use the previous root roles in the file to verify anything, the previous root roles are only used by a client to know what to sign.

The test above seems very similar to `TestValidateRootRotationWithOldRole`, in which the client is only

[2016-09-08 22:09] ecordell commented on #841
This can still be done with the new client, by specifying all of `A, B, C` when rotating. If we're talking specifically about the docker integration, the docker client can make the appropriate notary calls behind the scenes.

Is there some reason a phased deployment like that wouldn't work? I prefer this approach because it allows different deployments to choose their own transition timeline.

[2016-09-08 22:12] cyli commented on #841
Do you mean that this can just be solved if the client never remove old keys?  Will the new client then sign with all keys that are available in the list, even if it's past the necessary threshold, even if it's not during a root rotation?  (e.g. maybe adding a snapshot key).

[2016-09-08 22:27] ecordell commented on #841
If you do this with something like `notary key rotate test/collection root --key=A --key=B --key=C` (where A, B, and C are all previous roots - perhaps A and B and old and C is the newest), then all three are part of the root key list and will be used to sign for any root file change.

Basically to be backwards-compatible you take the previous implicit behavior (sign with all old keys) and make it

[2016-09-08 22:30] cyli commented on #841
Ah ok, that makes sense.  I do like that you have to be explicit about things.  It might be awkward that you have to keep the public certs around so that you can keep the keys in place for rotation, but maybe we can write a nice export function or tool.  Cool, thanks!

[2016-09-08 22:36] endophage commented on #841
I'm wondering if it would make more sense to invert the concept of which keys to sign with and instead users specify which ones to drop. I'm thinking that may allow for more intelligent default behaviour, i.e. you _always_ want to sign with the immediately previous keys, so you should _never_ have to specify those. By specifying keys to drop, the rotation becomes the point at which you specify the

[2016-09-09 09:20] HuKeping opened #947 "Update license"
Shall we sync the license with docker/docker?

https://github.com/docker/docker/blob/master/LICENSE

[2016-09-09 13:03] LenutaToderean commented on #940
@riyazdf : Hi!
I would like to read more about docker pull using DOCKER_CONTENT_TRUST set up to 1. Thanks again!

[2016-09-09 16:52] riyazdf commented on #940
@LenutaToderean we have docs that are geared toward Docker Content Trust here: https://docs.docker.com/engine/security/trust/content_trust/

Essentially, Docker Content Trust uses notary as a library to lookup image digests for a tag, so that a `docker pull img:latest` is converted to `docker pull image@sha256:<hash>` by verifying and consuming notary's signed metadata.  Please feel free to let us

[2016-09-09 17:19] riyazdf commented on #947
@HuKeping could you elaborate further please?

I'm not sure I understand your proposal -- it's perfectly fine (and usually expected) for different open source projects in different repositories to have individual licenses.  Even though notary and docker share the same license type (Apache 2.0), I'm not sure I see the need to duplicate the license between them.

[2016-09-09 18:40] cyli commented on #827
@samoht I believe libltdl is compiled into the docker client, and we would also like to do the same for notary, if that would fix the issue?

https://github.com/docker/notary/pull/948 should produce a binary that only depends on system libraries:

[code]

[2016-09-09 19:37] justincormack commented on #827
@cyli the one you sent me to test is not linked against `libltdl` certainly, that will be much easier for us.

[2016-09-10 20:16] ianmiell opened #949 "x509 cert errors using notary playground instructions"
[code]

I made a video of it here:

https://asciinema.org/a/85399

Reproducible with this ShutIt script:

https://github.com/ianmiell/shutit-notary-trust-sandbox/blob/master/shutit_notary_trust_sandbox.py

based on these instructions:

https://docs.docker.com/engine/security/trust/trust_sandbox/

Versions of docker and notary are latest.

[2016-09-12 01:11] HuKeping commented on #947
Ah OK, I just thought the licenses should be exactly the same if under the same project.

Closing.

[2016-09-12 01:11] #947 closed

[2016-09-12 10:30] ianmiell commented on #949
I think the cert has expired (the error I actually got when pulling securely was an x509 expired/invalid), so doing an openssl -connect on the docker container I get expired cert in July 2016:

[code]

[2016-09-12 12:48] lewiada opened #950 "notary key import delegation.key --gun being ignored"
When using Notary to import a delegated key, it seems to always import to ~/.docker/trust/private/tuf_keys, rather than to the registry/account/repo (i.e. gun) directory under tuf_keys.  I have tried using the -g / --gun flags to indicate where the imported key should go:

`notary key import delegation.key --gun docker.io/<account>/<imagename> --role user`

but they key always ends up in ~/.docker

[2016-09-12 16:23] riyazdf commented on #950
Hi @lewiada, thanks for your report but this is expected -- notary keeps delegation keys in the top-level `tuf_keys` directory to better facilitate delegation keys being shared across GUNs

We're also working toward flattening the key store entirely for versions following notary 0.4, such that all keys are kept in a single directory https://github.com/docker/notary/pull/872

[2016-09-12 16:23] #950 closed

[2016-09-12 16:28] lewiada commented on #950
@riyazdf thanks ... so if this is the expected behavior, what is the intended usage of the --gun flag?

[2016-09-12 16:34] riyazdf commented on #950
@lewiada: Sorry if that was confusing, I'll try to make this clearer in the docs :)

The `--gun` flag is used for specifying roles for targets/snapshot keys if one is not given in the PEM header, since these keys are tightly coupled to a GUN.  Root and delegation keys do not retain any GUN information in their PEM headers or file locations

[2016-09-12 16:34] riyazdf commented on #949
Hi @ianmiell, thank you for your detailed report and sorry that you're running into this!

We refreshed our fixture certs when they were near expiry, could you please try pulling the latest updates by changing your `docker-compose.yml` to reference just `dockersecurity/notary:server` instead of `dockersecurity/notary_autobuilds:server-v0.3.0`?

We'll update the documentation to make sure this work

[2016-09-12 18:08] sabada commented on #937
Hi, not sure if this should be an new issue or not, but now I have moved to instead having notary-server and notary-signer started from the same machine to different servers. I am able to get them up and running and connecting to each other but I run into some certificate errors.

On notary-signer, the logs say
`2016/09/12 17:55:48 grpc: Server.Serve failed to complete security handshake from "172

[2016-09-12 18:22] cyli commented on #937
@sabada Did you also change the hostname (or add the host where notary server is running as a SAN) on the notary-signer certificate?

[2016-09-12 19:39] sabada commented on #937
The only thing I changed was the hostname in the server configuration. Looking at the different config docs that @riyazdf linked above, I did not see anything in the signer configuration regarding the host for the notary server. Where would I configure that?

[2016-09-12 19:46] riyazdf commented on #937
@sabada can you check what the values are for the CNs and SANs (Subject Alternative Names) of the certificates you're using for `notary-server.crt` and `notary-signer.crt`?

@cyli and I are hypothesizing that the new location of the notary server/signer is not being reflected in these values, which would make the certificate invalid for the TLS connection.  Reusing the same notary configurations w

[2016-09-12 19:49] sabada commented on #937
Oh yea, so when I made the certificates the first time, i used notary-server as the CN for the server and then notary-signer for the signer.

Now I use the hostname of my server for the server certificate, and signer for the signer certificate. I don't know about the SANs though as I don't see any mention regarding that.

[2016-09-12 20:00] riyazdf commented on #937
@sabada: what are you using for your CA files for server and signer (`tls_ca_file` and `client_ca_cert`)?  Is it possible that the CAs you're using are not in sync with your new certificates?

[2016-09-12 20:06] sabada commented on #937
So this is my signer-config
[code]

and this is my server config
[code]

I am using the same certificates on both servers.

[2016-09-12 20:18] riyazdf commented on #937
In your (top) server config, `tls_ca_file ` should not be `root-ca.crt` if you're using a self-signed `notary-signer.crt`.  Did you generate `root-ca.crt`?

Can you try specifying `./notary-signer.crt` for that value?

[2016-09-12 20:28] sabada commented on #937
Oh wow, okay so I think that might have been it. Now the log for the server is just `{"level":"info","msg":"Version: 0.3, Git commit: 930168f","time":"2016-09-12T20:27:21Z"}` and no more logs indicating that certificate error. Is that the expected output for the logs?

[2016-09-12 20:30] riyazdf commented on #937
awesome.  That should be it if everything is working :)

[2016-09-12 20:31] sabada commented on #937
Thank you so much again! I didn't have that for my other setup. Does that mean I don't need root-ca.crt at all?

[2016-09-12 21:00] riyazdf commented on #937
Not a problem, glad everything is working!  You shouldn't need `root-ca.crt` in your other setup either if you're also using self-signed certs -- it probably worked if you added the server/signer certs to your system's trusted certificate pool.

[2016-09-12 21:24] sabada commented on #937
That's probably it haha. Well everything is working now, so thank you once again!

[2016-09-12 23:15] #838 closed

[2016-09-12 23:46] #735 closed

[2016-09-12 23:47] endophage commented on #731
Keys is in, we're punting the certs side to the next release. Putting it in the 1.0 backlog for now, will likely get pulled in from there.

[2016-09-13 14:51] lewiada commented on #950
@riyazdf okay so if I understand correctly I will be able to use a single delegated targets key to sign targets belonging to multiple repositories?  Can a basic target key also be used to sign across GUNs / repos?

[2016-09-13 16:31] riyazdf commented on #950
@lewiada: yes, you can add a single delegation key to multiple delegation roles across different repositories.

Notary doesn't support reusing a targets key across repos since the targets, snapshot, and timestamp keys are auto-generated per repository at initialization time

[2016-09-13 16:36] hinshun opened #953 "Notary purge does not properly remove delegation keys"
Notary built from latest release/0.4 branch.

Docker Engine version:
[code]

[code]

[2016-09-14 07:00] ianmiell commented on #949
Thanks - that works.

[2016-09-14 13:16] lewiada opened #957 "HSM besides Yubikey"
Currently Notary will look for a Yubikey inserted into the USB drive.  It also is using standard PKCS11.  Is there anything that would prevent a different PKCS compliant HSM from being used?

In a DevOps pipeline, it would be great if we could use a combination of on-line / off-line root-keys such that a developer could initialize a new repo simply by authenticating to a service that hosts the HSM

[2016-09-14 16:05] lewiada commented on #950
Okay this is actually very cool because the ability to use a single delegated targets key across repos actually simplifies some use cases for me.  It's a bit strange though, since target keys are generated for specific repo, yet that same target key can delegate a key that can be used across multiple repos.

[2016-09-14 16:18] riyazdf commented on #957
Hi @lewiada - we definitely agree that other HSMs would be useful!  While the standard pkcs11 implementation in Notary should suffice for integrating with other HSMs, we haven't tested anything other than yubikeys and need to make sure that the integration will be compatible with other HSMs.  We have a tracking issue for notary 1.0 https://github.com/docker/notary/issues/795

We also have a tracki

[2016-09-14 16:44] riyazdf commented on #949
thanks for reporting back @ianmiell, glad to hear it's working!

I'll close the issue on the notary side, the docker docs are scheduled to be deployed with this fix by tomorrow :)

[2016-09-14 16:44] #949 closed

[2016-09-15 13:05] lewiada opened #960 "algorithm for root-key selection not clear"
In the course of getting a notary infrastructure up and running, and playing around with a mix of notary client and docker content trust, I have ended up with a number of root keys, both on my laptop and on my Yubikey.  If I do a notary init, or push to a new repo with content trust enabled, one of these is being selected, but it's not clear how notary / content trust are determining which root ke

[2016-09-15 13:11] jverger commented on #865
Hello,
I've Finally found the root cause, all is explained here (documentation has been modified since...)
[Connecting container to multiple bridge networks breaks port forwarding from external IPs #21741](https://github.com/docker/docker/issues/21741)
On my side, i've made some modifications in the docker-compose file to prefix front network with '1' and back network with '2'.

[2016-09-15 16:26] lewiada commented on #17
I do not understand the motivation for this.  Anytime I am going to push an image to a docker repo, it will involve signing using the targets (or delegated targets) key.  What is the UX benefit to having the timestamp key online, that justifies the weakened security of the timestamp key by being kept on-line?  I understand the timestamp key is the least sensitive of the bunch, but I'm not seeing g

[2016-09-15 17:01] cyli commented on #17
@lewiada The timestamp key expires early, so you will have to come back and re-sign the timestamp file every 2 weeks even if you aren't pushing any images.  If your timestamp expires, everything you've signed into your repo becomes invalid until push a new signed timestamp.

It is a usability tradeoff; rather than you having to manually re-certify that your signed content so often, the server does

[2016-09-15 17:19] cyli commented on #960
@lewiada Thank you for the suggestion - I will add the a comment to https://github.com/docker/notary/blob/master/docs/advanced_usage.md#initialize-a-trusted-collection about root key selection if there are multiple keys.

If there are keys in disk, it currently just grabs the first one it finds through listing the filesystem.  It should be deterministic per machine.  You can specify it by passing

[2016-09-15 18:13] riyazdf commented on #953
fixed on release branch by #954

[2016-09-15 18:13] #953 closed

[2016-09-15 21:49] lewiada commented on #17
do you mean the timestamp.json *file* expires every two weeks?  If the timestamp *key* expired every two weeks then a new root.json file would need to be created which would involve taking the root key out.

Which makes me wonder, how long is the timestamp key lived for?  I suppose I would need to proactively rotate it to avoid it expiring and things breaking, but I'm not sure what the actual life

[2016-09-15 22:18] riyazdf commented on #17
@lewiada - correct, it's the timestamp file that expires every two weeks.  We're working on a [best practices doc](https://github.com/docker/notary/pull/955/files#diff-b060354fe719f76e1c05c20d54fb2764R114) which aims to capture this information and provide operation suggestions.  Please let us know if there's anything we should add!

As for the timestamp key itself - it does not have an explicit e

[2016-09-15 22:26] cyli commented on #17
@lewiada Ah sorry, yes I meant the file.

[2016-09-15 22:48] vikstrous opened #961 "make all configs setable through environment variables"
Right now the TLS configs take paths rather than the contents of the certificates themselves. I don't know if anything else is missing right now and I didn't see a list of the names of the environment variables in the docs.

[2016-09-15 22:59] cyli commented on #961
Ah sorry, it's mentioned in https://github.com/docker/notary/blob/master/docs/running_a_service.md#overriding-configuration-file-parameters-using-environment-variables, but not linked from the actual config references themselves.  We should probably duplicate that.

And apologies, could you also clarify what this issue is requesting?  I wasn't sure how to interpret the description:

1.  Accept the

[2016-09-15 23:13] vikstrous commented on #961
Ah, yes, sorry, I didn't know if all configs are editable through environment variables. That's what I was referring to. There's no need to take the entire config as one environment variable if each individual field is configurable already through the environment. Feel free to open a separate issue for the documentation issue.

[2016-09-15 23:54] endophage commented on #957
I would also note that the Yubikey implementation uses one of the fields available for manufacturer custom behaviour (to enable the touch to sign feature), so simply pointing the existing code at a non-Yubikey HSM may have unexpected results as another manufacturer won't be using that field for the same thing. If they aren't using the field at all it could simply get ignored and work fine, or coul

[2016-09-15 23:56] endophage commented on #939
Conversation seems to have wrapped up here and there are no actionable items as far as I can tell. Closing the issue. Feel free to reopen or file a new issue if there's something I'm missing.

[2016-09-15 23:56] #939 closed

[2016-09-15 23:57] endophage commented on #957
Closing this as a duplicate of https://github.com/docker/notary/issues/795

Please feel free to continue the conversation on that issue.

[2016-09-15 23:57] #957 closed

[2016-09-19 01:59] HuKeping opened #962 "Private field has been removed by the TUF spec"
see

https://github.com/theupdateframework/tuf/commit/5d2c8fdc7658a9f7648c38b0c79c0aa09d234fe2

[2016-09-20 21:38] #406 closed

[2016-09-20 23:02] endophage opened #964 "Add a list of notary-docker compatibility versions"
We need to make it clear which versions of notary should be used with which versions of docker.

[2016-09-21 20:45] riyazdf commented on #551
been poking around with @endophage, and found some issues that we're now fixing.  Reporting back for tracking purposes and fixing:

- [ ] `notary.NotarySupportedSignals` is not Windows-compatible (`syscall.SIGUSR1` and `syscall.SIGUSR2` do not exist on windows)
- [ ] Generally using `filepath.Join` wherever possible due to `/` vs `\` discrepancies
- [ ] Relative path logic is more complicated (`fi

[2016-09-21 22:39] riyazdf commented on #841
@ecordell I got the chance to take a second look at #942, thank you for all of your work on that PR and addressing our feedback!

We're still concerned about backwards compatibility and curious on your thoughts about @endophage's suggestion in the previous comment?

[2016-09-22 01:14] cyli opened #968 "`NotaryRepository` refactor proposal"
`NotaryRepository` is sort of one big monolithic object with a lot of things on it right now, mostly made together to serve the CLI and may not necessarily make sense for something that uses `NotaryRepository` as a library.  Also, the fact that everything is bound to a single config directory, and a URL, makes testing slightly more inconvenient.

The proposal is to break up `NotaryRepository` into

[2016-09-22 01:22] riyazdf opened #969 "Clean up error message for incorrect passphrase"
We get weird `(MISSING)` delimiters and other hard-to-read output when failing to login with correct credentials against a notary-server with auth (like `https://notary.docker.io`)

[code]

I've added in `<URL>`, `<REPO>`, `<USERNAME>`, and `<ORG>` myself, but the `%!F(MISSING)` output is straight from the terminal

[2016-09-22 01:26] cyli commented on #968
cc @endophage @riyazdf @HuKeping @ecordell

[2016-09-22 02:24] HuKeping commented on #968
also see https://github.com/docker/notary/issues/932

[2016-09-22 02:25] cyli commented on #968
@HuKeping Ah yes, thanks, I was looking for that one and for some reason my eyes kept skipping over it.

[2016-09-22 06:03] cyli opened #971 "Write tests for behavior in a terminal and outside of a terminal"
Since stdin is not in a terminal because we are running tests, we could use https://github.com/kr/pty to simulate a terminal.  If we could instrument those functions that check for terminal to take a file descriptor, instead of checking `os.Stdin.Fd()`, that would be awesome.

If we didn't want to instrument our functions to get the STDIN file descriptor, I think we might be able do something like

[2016-09-22 20:58] riyazdf opened #973 "Proposal: add output for successful commands"
Especially on `publish`, it might be helpful to print an extra line stating that the publish was successful.  Maybe something like `Successfully published changes to <GUN>`?

[code]

Same thing for `notary delete`, and commands that use `-p` could use a wrapped `Publish()` function to standardize printing to CLI

[2016-09-23 02:28] HuKeping commented on #973
👍 I was add a similar on docker/docker side after a successfully DCT publishing
https://github.com/docker/docker/pull/20307/commits/1a6866273697361f33ec908f51cf0e071a36b69d

[2016-09-23 04:26] cyli opened #975 "Set up Windows CI to run unit tests"
Also, push to codecov, since we have some windows-specific code now to explicitly de-support dynamic log level changing.

Also, because we want this to work in windows.  :)

[2016-09-23 15:00] ecordell opened #977 "Separate cert verification from TUF metadata handling"
This came up in https://github.com/docker/notary/pull/965 but wanted to bring it up for discussion more broadly.

I think it would be useful to separate out the cert verification from the normal metadata codepaths, something like: certs get loaded/verified -> translated to plain keys -> tuf only deals with plain keys.

This would fix some confusing issues where, for example, `data.PublicKey` could

[2016-09-23 16:20] #600 closed

[2016-09-23 17:19] #973 closed

[2016-09-25 12:42] LenutaToderean commented on #935
Hi, @riyazdf!
I played with a new machine, fresh environment and I tried to sign images with Notary again. I followed the instructions from github: cloned the project, copied root-ca and config files from cmd/notary into ~/notary;  added 127.0.0.1 notary-server to my /etc/hosts file; docker-compose build and then docker-compose up. Notary server, signer and mariadb are up and running.  I can sign

[2016-09-25 13:57] HuKeping commented on #935
Hi @LenutaToderean ,

Did you put the config file into `~/notary` or `~/.notary`, because the Notary CLI use `~/.notary` as the default directory.

[2016-09-26 06:41] LenutaToderean commented on #935
Hi, @HuKeping !
Thank you! I am having the config file into ~/notary and used your indications ... but I am getting the same error.

[2016-09-26 08:54] #935 closed

[2016-09-26 10:48] LenutaToderean commented on #940
Hi!
I wanna read more about keys in notary if it's possible please. I don't wanna open an issue just this. Thank you again!

[2016-09-26 17:08] cyli commented on #940
Hi Lenuta!

We have some information about key management here:  https://github.com/docker/notary/blob/master/docs/best_practices.md#key-management and https://docs.docker.com/engine/security/trust/trust_key_mng/.

For more specific information about how key IDs are calculated and what's in the TUF metadata itself, please see https://github.com/theupdateframework/tuf/blob/develop/docs/tuf-spec.txt

[2016-09-26 18:32] cyli commented on #977
Could you elaborate on both how the certs will be serialized into the TUF metadata files?
Would the public key bytes in the TUF role->key definitions still contain certs, for instance, and we'd just separate the two when we loaded the files themselves?

[2016-09-27 23:15] dnwake opened #979 "New feature request> command to list all GUNs on a remote server"
We already have the "notary list" command, but it requires the user to supply a GUN.

It would be useful to be able to iterate through all the GUNs on a remote server, for example when renaming the host running Docker registry.

[2016-09-27 23:23] dnwake commented on #914
For the benefit of future people running into this problem, I've found that the **certtool** command (supplied as part of the **gnutls-utils** package) ignores the 64 character limitation, so can be used as a workaround.

[2016-09-28 14:29] HuKeping commented on #979
Hi @dnwake , I actually had considered this when I had came into such a use case that

"people may would like to know which images on the image_list_page(the web front end) are signed and can be trusted"

But since we provide a multi-tenants-enabled service, an API list all the GUNs will cause the leaking of information which was not acceptable.

Besides, one notary service could be used by many r

[2016-09-28 20:51] dnwake commented on #979
@HuKeping

How about a list of GUNs with a delegation to a particular key?

[2016-10-03 17:22] sbkumar007 opened #987 "root key location?"
I am running the latest notary

_notary
 Version:    0.4
 Git commit: 3a944e8_

with docker 1.12.1 and my private registry.

When I try to push an image this is what I get:

_docker push my-registry:5004/test/trusttest:trusted_
**The push refers to a repository [my-registry/test/trusttest]
5f70bf18a086: Layer already exists
c22f7bc058a9: Layer already exists
trusted: digest: sha256:ebf59c538accdf1

[2016-10-03 21:34] cyli commented on #987
@sbkumar007 Apologies, we have flattened the keystore (#549, #872)  in `master` (the version should be bumped up to 0.5-dev (#983) for master, although that hasn't happened yet).

0.4.x will still put them in `/root/.docker/trust/private/root_keys`, and 0.4.1-0.4.2 can read the keys in `/root/.docker/trust/private`.

[2016-10-03 23:28] sbkumar007 commented on #987
Thanks, checkout from commit tag - c8aa8cf53cbcda2e92def0c9291e25d770493494 - 0.4.2 seem to have fixed the problem. docker can read and push/pull image.

[2016-10-04 00:16] endophage opened #989 "Create constants for context keys"
The latest version of go lint includes warnings about using basic strings as keys due to golang core dev concerns about polluting the global namespace. We've create a type for context keys and we only have a small number so it would be good to further improve it by declaring constants for that limited set of key values we use.

[2016-10-04 09:47] riyazdf commented on #969
Closed with #972

[2016-10-04 09:47] #969 closed

[2016-10-04 14:13] ecordell commented on #841
Sorry for the delay getting back here!

I like @endophage's suggestion as an additional interface but not as the only one, mainly because I'm of the opinion that the best UX is to remove old keys entirely when possible. I think supporting both makes sense so that the transition is mostly a documentation issue:

For some defined period, docs say:

Eventually change to:

i.e. the behavior of not spe

[2016-10-04 16:58] endophage commented on #841
If the expectation is that `notary key rotate <gun> root --key=new` will always sign with the immediately previous keys, while replacing them and signing with the key specified as `new`, then yes, I think this works.

I don't think it was addressed on the WIP PR but we're also very opposed to maintaining the old keys in the existing root role for legacy support. If your key has been compromised, t

[2016-10-04 19:05] ecordell commented on #977
I was proposing that certs not be serialized at all, instead only their public key bytes. That introduces some distribution issues with certs, though.

In retrospect I'm not sure it matters too much. I think what's important is that everything that takes a cert or a plain key right now should accept both, and verify if it's a cert.

Part of why I think that's important is that external PKI is spec

[2016-10-04 19:05] #977 closed

[2016-10-04 19:14] ecordell commented on #841
Yep! That's the plan. As for your other concerns I believe they are addressed in the current PR. All that is lacking is the drop flag.

[2016-10-04 20:34] endophage commented on #987
This seems to be resolved so I'm closing the issue. Feel free to re-open if I'm misunderstanding.

[2016-10-04 20:34] #987 closed

[2016-10-04 20:36] cyli commented on #987
@sbkumar007 Thanks for letting us know that it worked!  I've also updated the README file to reflect the fact that master is our development branch, as well as noted any upcoming changes in master in our CHANGELOG file: https://github.com/docker/notary/pull/991

[2016-10-04 20:42] endophage commented on #979
@dnwake a delegated key does not automatically equal access to the GUN. The authz on docker hub may have been updated to revoke a user's access, though their delegation key may not have been removed as a signer yet. You also shouldn't be able to arbitrarily list GUNs for any delegation key as providing a key ID is not proof of authorization.

I'll talk to the hub team and see how they do it with r

[2016-10-04 20:45] endophage commented on #960
@lewiada How would you feel about repository initialization being interactive with appropriate flags that can allow scripting to bypass the interactivity by pre-providing the answers (i.e. the key ID of the key to use as root)?

[2016-10-04 20:51] endophage opened #992 "Make `notary init` interactive"
Things to make interactive:

- selection or creation of root key
- creation process
  - cert vs bare key
  - where to save backup if on yubikey
- whether to initially rotate snapshot key to server
- others?

[2016-10-04 20:55] endophage opened #993 "Make `notary delegation` interactive"
Possibly make `notary delegation add` and `notary delegation remove` both interactive. Alternatively, make `notary delegation` a master command that fires off an interactive interface that handles both.

Design to be discussed further to decide which route to go on the command structure. Things that could be made interactive either way:

- roles to operate on
- changes to make
  - create/delete de

[2016-10-04 20:57] endophage opened #994 "Make `notary key rotate` interactive"
Things to make interactive:

- selection/creation of key being rotated to
- selection of which keys to keep signing with
- format of key being created
- additional keys to be included in the role
- others?

[2016-10-04 21:00] endophage opened #995 "Configuration to tie a GUN to a remote notary server"
We should have a way for users to configure that GUN "A" should be pushed to server "B" so they don't necessarily have to provide the server every time. Basically an idea equivalent to git remotes. It's great we can configure a global default, but it would be even more awesome to have in configurable per GUN and override-able with the CLI `-s` flag

Low priority.

[2016-10-04 21:15] dnwake commented on #979
@endophage What if you also provide the key?

[2016-10-04 21:17] endophage commented on #979
Doesn't matter. If you're a delegate and the admin has revoked your authz and for any reason hasn't removed your signing key yet, you still shouldn't have access. Maybe they're AFK so can't sign but can access docker hub through a mobile device to respond to an immediate problem.

[2016-10-04 21:53] cyli commented on #977
@ecordell Agree that we it would probably be good to separate the code that does the cert validation - I think that almost all of it is currently isolated in the `trustpinning` package, and applies to root only.  If you have any further cleanups to suggest for making the cert requirements be more modular please let us know!

[2016-10-04 22:34] endophage commented on #987
FYI we do try and keep master stable and working, i.e. you should be able to `make binaries && docker-compose up` to get a working local client and server. We don't make any promises though that the master branch will always work against an older server deployed to production.

Our approach so far has been to try and ensure old client work against new servers, but new clients aren't guaranteed to

[2016-10-05 05:24] #989 closed

[2016-10-05 17:05] endophage opened #997 "Create types for GUN and role names, use them everywhere"
Create two new types, should probably be located in `tuf/data/?`

[code]

Use these types everywhere!

We have GUNs and roles being used beside eachother in lots of locations and it would be beneficial  to have stronger differentiation, especially when a function return signature has something like `..., string, string, ...`. We've been relatively (completely?) consistent so far in putting gun fir

[2016-10-05 23:26] cyli commented on #791
Fixed by #970

[2016-10-05 23:26] #791 closed

[2016-10-05 23:37] cyli commented on #968
Related, but not part of this particular proposal:  I just wanted to leave a breadcrumb here since the previous issues about this were already closed.

@ecordell made the awesome suggestion of making some of the parts of notary more "batteries removable", such as the x509 requirements:  https://github.com/docker/notary/issues/794#issuecomment-231818928, https://github.com/docker/notary/issues/977#

[2016-10-06 17:21] #815 closed

[2016-10-10 20:59] riyazdf opened #999 "Update vendoring for docker/distribution for token leeway"
It would be nice to include the auth token leeway included in https://github.com/docker/distribution/pull/1686, which is slated for a `2.6` release (but is already on master branch)

[2016-10-10 22:34] endophage commented on #999
Given that we are occasionally seeing related errors, marking this as a requirement for a 1.0 release.

[2016-10-11 09:52] HuKeping commented on #999
This remind me of this pr #463
Oh, I'm agree with closing that, it just jump out of my mind :)

[2016-10-11 16:24] endophage commented on #999
@HuKeping It's a similar idea but in a different part of the code.

We've had a small number of errors (5 in 2 weeks) coming out of distribution's auth package that appear to be related to clock skew in the order of 1 second (i.e. `token not to be used before 1476140678 or after 1476140978 - currently 1476140677`). In a separate discussion I advised another team in Docker that the [JWT spec](https

[2016-10-11 23:04] #749 closed

[2016-10-11 23:08] endophage opened #1000 "How do we create repos without bringing the root key online?"
There may not be a good answer other than "bring your root key online." This issue is to track/discuss/investigate other options.

[2016-10-11 23:19] endophage commented on #844
Closing. We've decided it's more confusing than beneficial as the indication is the target is gone, but it can only actually be deleted from the roles you have keys for.

[2016-10-11 23:19] #844 closed

[2016-10-11 23:32] riyazdf commented on #876
closing since there hasn't been any activity on this issue, please feel free to re-open if there is a new proposal

[2016-10-11 23:32] #876 closed

[2016-10-12 04:04] HuKeping commented on #992
will this block some automated script?

[2016-10-13 06:26] HuKeping commented on #997
:+1:

[2016-10-13 10:34] HuKeping opened #1002 "Separate the perm between a regular file and directory"
At present, the regular files are with the same perm as its directory.

![image](https://cloud.githubusercontent.com/assets/9958621/19346017/d0886eaa-9173-11e6-824d-7f9d381385b8.png)

[2016-10-13 13:29] LenutaToderean opened #1004 "Question: How the passphrase is affecting the key?"
Hi!
I would like to read more about the passphrase if it's possible.
Thank you very much!

[2016-10-13 16:24] riyazdf commented on #1004
hi @LenutaToderean, the passphrases for keys are used to [encrypt them at rest](https://docs.docker.com/engine/security/trust/trust_key_mng/#/choosing-a-passphrase).

The contents of the key are encrypted with the passphrase using AES-CBC (we use golang's [x509.EncryptPEMBlock](https://golang.org/pkg/crypto/x509/#EncryptPEMBlock)) and this is displayed in the private key PEM file `Proc-Type` and `

[2016-10-13 23:32] trinitronx opened #1006 "yubikey HSM driver not loading on OSX 10.11.6 (15G1004)"
Hello,  I'm trying to test out notary with the Yubikey 4 support, and having some troubles getting it to work.

I'm using `notary version`:

[code]

When running `notary init`, it logs an error loading `/usr/local/lib/libykcs11.dylib`:

[code]

[2016-10-13 23:35] trinitronx commented on #1006
I realize this is quite new and some features are probably beta still... however I'm having trouble understanding the process due to confusing or little documentation on using the Yubikey 4 with `notary`.

I've already gotten my Yubikey set up for use with GPG keys, and it works fine for signing via `gpg`, and shows up with `gpg --card-status` through `scdaemon` + `gpg-agent`.  However, it's uncle

[2016-10-14 00:56] riyazdf commented on #1006
Hi @trinitronx, sorry to hear you're running into this!

Notary seems to be finding the `libykcs11.dylib`, but it's having a [problem initializing](https://www.cryptsoft.com/pkcs11doc/v200/pkcs11__all_8h.html#aCKR_FUNCTION_FAILED) a pkcs11 session with it
(from this debug line: `DEBU[0000] No yubikey found, using alternative key storage: found library /usr/local/lib/libykcs11.dylib, but initialize

[2016-10-14 02:16] HuKeping commented on #1004
It enhances the security of your private keys but in the meantime things will get tough if you forget the passphrase,

So it's recommended to keep it in a password manager.

[2016-10-14 02:20] cyli commented on #1006
@trinitronx re: overwriting keys:  Did you already have PIV keys on the yubikey (such as for OS X or windows code signing?), or just the GPG keys?  IIRC the PIV keys are completely separate from the GPG keys, and are stored in different slots on the card (I have my 3 gpg keys and a notary PIV key on mine, for instance).  I don't think we overwrite existing other PIV signing keys - we generate our

[2016-10-14 02:30] endophage commented on #1006
The first thing to be aware of is that Yubikeys contain physically distinct internal hardware for GPG vs PIV/PKCS11 (the part Notary utilizes). Your GPG keys, and your PKCS11 keys are mutually exclusive sets. These features also operate over different protocols, so GPG working provides no kind of indicator as to whether the PKCS11 part of the Yubikey is functioning.

The first step would be to ens

[2016-10-14 06:59] LenutaToderean commented on #1004
@HuKeping and @riyazdf thank you very much! This helped me a lot. Thank you!

[2016-10-14 06:59] #1004 closed

[2016-10-14 10:44] HuKeping opened #1007 "Cleanup error message for auth challenge"
There's some `MISSING` in the output error message when we failed the challenge for authentication
[code]

Seems it was caused by the error message we get from roundtripper contains some ASCII code like `%3A`, and when the whole string be used as an format output, the warning we mentioned above will show up.

[2016-10-14 17:10] trinitronx commented on #1006
@riyazdf: Yes I've installed `libykcs11.dylib` with the `yubico-piv-tool` with homebrew via `brew install yubico-piv-tool` as you recommend.  I did not previously have the `yubico-piv-tool` installed when I set up the key for doing `gpg` signing, so this library is not used for signing.  I believe `gpg-agent` starts `scdaemon` to ask the Yubikey to sign data.  I have followed [this guide][1] for i

[2016-10-14 17:22] riyazdf commented on #1007
@HuKeping: which notary server version are you seeing this on?  I ask because we had a similar issue https://github.com/docker/notary/issues/969 and the fix was to revendor `docker/distribution`: https://github.com/docker/notary/pull/972

This should be included in notary v0.4.1+

[2016-10-14 17:46] endophage commented on #1006
If the yubico-piv-tool is showing the key as being available, notary should be picking it up. I've just run a `notary init` with the same version of the client you're using. Could you also confirm you're using version 1.4.0 of the yubico-piv-tool: `yubico-piv-tool --version`. That would affect which version of libykcs11 you have.

Just to cover all the overt differences, the other thing I see is y

[2016-10-14 17:49] endophage commented on #1006
One other question, have you restarted since installing yubico-piv-tool? It has in the past needed to patch some system libraries and a restart was necessary to apply the patches.

[2016-10-14 17:56] riyazdf commented on #1006
Another question: is CCID mode enabled on your yubikey?  I remember this being configurable with `ykpersonalize -m6` or a similar mode flag.  Yubico also has some tools for helping install libccid and enabling this mode: https://developers.yubico.com/yubikey-neo-manager/Usage.html

[2016-10-14 17:58] endophage commented on #1006
@riyazdf CCID mode confirmed. The Yubikey is showing 0x0407 which is the "everything enabled" mode.

[2016-10-14 18:39] trinitronx commented on #1006
@endophage :   The version of `yubico-piv-tool` I'm using is:

[code]

Yubikey firmware version as reported via the `gpg-agent` is:

[code]

This lines up with the reported version from `lsusb` and the `Version` reported from `About this Mac -> System Report`: `4.28`

I did not reboot yesterday after installing `yubico-piv-tool` & trying out `notary`, however I can test it out again today after th

[2016-10-14 18:50] trinitronx commented on #1006
The `CCID` mode and `PIV` applet appears to be enabled and available as reported from the "YubiKey NEO Manager" program:

[![screenshot 2016-10-14 12 41 50](https://cloud.githubusercontent.com/assets/122524/19398829/b800a47c-920b-11e6-9eef-660fe4394be3.png)][1]

[![screenshot 2016-10-14 12 45 41](https://cloud.githubusercontent.com/assets/122524/19399038/b1cedb5e-920c-11e6-8fc4-548b027d511b.png)][

[2016-10-15 08:50] HuKeping commented on #1007
It should the latest version I suppose, but I'll check that the next Monday

[2016-10-17 00:54] HuKeping commented on #1007
Hi @riyazdf  it was based on commit 303e1fe40f223ca944274a1129f88e11e0b4d0d3 upstream.

[2016-10-17 01:31] HuKeping commented on #1007
The version info:
[code]

[2016-10-17 01:41] HuKeping commented on #1007
Steps for reproducing the problem:
[code]

[2016-10-17 02:10] HuKeping commented on #1007
I think it was because we put the URL Encoded error message into a format of a printf. see
https://github.com/docker/notary/blob/master/cmd/notary/main.go#L207

and

https://play.golang.org/p/pUOgmcRmr-

[2016-10-17 02:14] HuKeping commented on #1007
We can fix this by refactoring the `fatalf` function, but it does not help to the error message from network, it's still not human readable.  For example
[code]

[2016-10-17 16:28] endophage commented on #1006
We'll wait on your reboot before looking into anything else.

[2016-10-17 16:28] endophage commented on #1006
We'll wait on your reboot before trying anything else.

[2016-10-17 17:22] trinitronx commented on #1006
@endophage:  Ok, so I tested again today after rebooting and it's still not able to access the Yubikey:

[code]

[2016-10-17 17:48] endophage commented on #1006
@a-dma sorry to bug you but we've run out of ideas on why @trinitronx isn't able to get his yubikey working with Notary. I thought you might be able to provide some more direction. It appears yubico-piv-tool, installed from brew, is of the same version I'm using (so I assume libykcs11 will be of the correct version), we're on the same version of Mac OS 10.11.6, the Yubikey is showing mode 0x0407 w

[2016-10-17 18:02] trinitronx commented on #1006
# Update:

So, on a hunch after reading [some bug reports][1] about problems with `scdaemon` Yubikey access I decided to test something out:

1. Verify that `gpg2 --card-status` is able to contact Yubikey & list keys
2. Kill all running `scdaemon` processes (which appear to get started by `gpg-agent` on-demand automatically)
3. Retry the `notary init -D` command

## Results:

[code]

## Observatio

[2016-10-17 18:03] riyazdf commented on #1007
@HuKeping: could you please try running the list command with the `-D` debug flag and posting that output?
I'm wondering if this should also be a fix in `docker/distribution` that we vendor.

[2016-10-17 18:04] endophage commented on #1006
Awesome detective work! We haven't really tried out using our Yubikeys for GPG so we haven't run into this before. @a-dma I linked above is a member of the Yubico engineering team and if he doesn't know about it already (which would surprise me) will likely be very interested in the above info.

[2016-10-17 18:12] trinitronx commented on #1006
@endophage:  Happy to provide the info & observations!  As it seems now (at least on OSX), the current climate of GPG + Yubikey + other PIV tools is such that it is very difficult to get a seamless experience when using the Yubikey with all of these applications.  This is especially true when combined with the functionality of modern `gnupg 2.1` for the new `gpg-agent` socket forwarding over SSH f

[2016-10-17 18:57] cyli commented on #1007
@riyazdf @HuKeping  The error seems to be coming from here (I replicated this error by pointing auth at google.com):   https://github.com/docker/notary/blob/master/vendor/github.com/docker/distribution/registry/client/auth/session.go#L381.  It seems like it's a golang `url.Error` error when we make a GET request.  The golang HTTP library seems to be escaping the characters in the scope when they'r

[2016-10-17 19:32] ecordell commented on #414
When https://github.com/docker/notary/pull/942 (or some incarnation of it) is merged, this should be possible by:

- requesting the version of the root you're interested in e.g. `3.root.json`, verifying intermediate roots if necessary.
- requesting the versions of snapshot/targets you're interested in, and verifying them with the keys listed in the version of root you hold.

To make a UI for this

[2016-10-17 21:48] endophage commented on #414
The UI wasn't really part of this, we simply wanted the ability to output some kind of meaningful data structure some other app could display. Really it's just a feature where, when given two `tuf.Repo` object, it outputs a (to be designed) diff object. How one gets the `tuf.Repo` objects was to be governed by however we support getting historical versions of a repo.

There's a much stronger use c

[2016-10-17 22:39] avaid96 commented on #414
Just thought I'd mention for the record on this issue that in discussion with @jchorl and @NathanMcCauley, the primary issues that came up with producing this was the **cryptographically verifiable** bit. If I remember correctly, there were a lot of challenges if history data was stored in a content addressable store since we won't be able to verify if we lost information along the way

[2016-10-18 06:39] HuKeping commented on #1007
I am +1 for fixing  the `fatalf` function at first, I'll file a separated PR to do so.

I supposed we may leave the `url error` for later discussing(I mean whether to unescape the whole message or sth)?

[2016-10-18 07:45] LenutaToderean opened #1011 "Error: trust data missing for remote repository"
I managed to generate and add delegation. I am trying to push signed images from machine B to A machine's registry. On machine A I have notary up and running but on B, I don't. When I push from B -> A with DOCKER_CONTENT_TRUST enabled I receive: "Error: trust data missing for remote repository mydomain.com:5000/ubuntu or remote repository not found: timestamp key trust data unavailable. Has a nota

[2016-10-18 08:00] HuKeping commented on #1011
Do you mean there is a private registry and notary service running on machine A.

On machine B, you typed
[code]

and get the error you've mentioned above?

[2016-10-18 08:23] LenutaToderean commented on #1011
@HuKeping  ... yes ... exactly.

[2016-10-18 08:32] HuKeping commented on #1011
Could you please try it with the `debug` flag and posting the output here? I supposed it is because you haven't specified the address of notary-server
[code]

[2016-10-18 08:59] LenutaToderean commented on #1011
Signing and pushing trust metadata
DEBU[0002] reading certificate directory: /home/ubuntu/.docker/tls/mydomain.com:5000
DEBU[0002] Failed to initialize PKCS11 environment: no library found
DEBU[0002] received HTTP status 404 when requesting root.
DEBU[0002] Failed to initialize PKCS11 environment: no library found
DEBU[0002] Failed to initialize PKCS11 environment: no library found
Enter passphras

[2016-10-18 10:04] a-dma commented on #1006
Hi, no worries, glad to help if I can.

Unfortunately what @trinitonx says is correct. The culprit is `gpg-agent` accessing smart cards in an exclusive way. According to the GnuPG folks, this is a design choice and a security feature, so probably not likely to change anytime soon. The agent implementation in `v2.1` is leaps and bounds ahead of what it used to be, but still there is no easy way of

[2016-10-18 17:37] cyli commented on #1011
@LenutaToderean  This is just a guess:  missing root and timestamp key indicates to me that the server has no data, but the metadata that you are pushing with was created using a timestamp key from an old server.  Did you at some point start a new server (with no old data) by chance?

If this is the case, and if you are running version notary client/server 0.4.x and higher, then I think you can do

[2016-10-18 20:49] cyli commented on #1007
Since this is related to #1008 though I'll just leave a non-blocking comment there.  Apologies, not sure what you mean - I think maybe "or sth" was meant to be "or not"?  I'll just assume so for now, in which case - yep, I don't feel that strongly about it, so I'm happy to discuss it later/elsewhere :)

[2016-10-19 07:18] LenutaToderean commented on #1011
Hi, @cyli ! Thank you for your suggestions!
I did:

...but I have the same error. I don't have notary up and running here. I just use DOCKER_CONTENT_TRUST variable. Should be that a problem, also?

[2016-10-19 08:03] cyli commented on #1011
@LenutaToderean Oops!  Sorry, I meant for you to run it from wherever you ran the notary command to set up delegations (which I guess is A) but I guess with the extra docker trust directory option that indicates it would be run on B.  Apologies for the mixup.

Do those commands work on A, where notary is set up?

If you are running from B instead, you might have to point the notary command at A (s

[2016-10-20 07:09] LenutaToderean commented on #1011
@cyli ... I used the commands on A where Notary is up and running.  The commands worked but I was not able to push successfully an image from B -> A.
On B I have the certificate copied from A. I receive: "* fatal: unable to configure TLS: Could not read CA certificate" when I try to use the command suggested by you. Am I missing some configurations?
Thank you!

[2016-10-20 07:37] HuKeping commented on #1011
Hi , from the error message `* fatal: unable to configure TLS: Could not read CA certificate`, I think it was cause by one has only provided a cert or a key where it requires both.

[2016-10-20 13:32] lewiada commented on #795
So in theory this works but hasn't been tested?  Will this work for targets / delegated targets keys, or only root keys?  It would be nice for a CI/CD pipeline in AWS to be able to store delegated targets keys in cloud HSM and use that to have the pipeline sign image metadata.

[2016-10-20 16:50] riyazdf commented on #795
Currently, hardware support for root keys in Notary has not been tested across different HSMs but should work "in theory" due to the standard pkcs11 interface.

@endophage can definitely speak more to what changes might need to be made to our pkcs11 code since he's been looking into this more actively.

Storing and signing with targets / delegated keys in yubikes isn't currently supported in Notar

[2016-10-20 17:05] endophage commented on #795
Riyaz is spot on. I've been told by other sources that it has been reasonably easy to modify notary to work with other HSMs in PoC situations. We're just starting to get this kind of real world interest in actually making it work so while I don't consider this issue as a blocker on releasing a 1.0, we may want to prioritise it for other reasons.

CloudHSM is of particular interest as we would like

[2016-10-21 03:41] HuKeping opened #1013 "Format the configuration files"
Some of the configuration files under directory `fixtures/` needs to be formatted, the `trust_service` part:
- [x] fixtures/server-config.json
- [x] fixtures/server-config.postgres.json
- [x] fixtures/server-config.rethink.json
- [x] fixtures/server-config-local.json

[2016-10-21 06:59] LenutaToderean commented on #1011
I, also, tried to share the tls certificate  generated for notary client (not just generated for mydomain) but I am getting the same error (Error: trust data missing for remote repository).  Is there any documentation about how to sign images using 2 diff. machines? Maybe there is something small that I am missing. Thank you again!

[2016-10-21 08:47] HuKeping commented on #1011
Hi @LenutaToderean I'm so sorry I don't have enough information to figure out what happens there. But if you want a sample about how to sign images using 2 different machines, I can show you some steps to do so.

Assume I have 2 machines, A and B. Notary service(both server and signer) is running on A.

# Environment
It is a clean environment as you can see:
[code]

# Sign for the first time on A

[2016-10-21 09:22] HuKeping opened #1014 "Fix formatted I/O"
https://github.com/docker/notary/blob/master/trustpinning/certs.go#L143

[code]

We can either use `logrus.Debug` or add the `%s` to it.

[2016-10-21 09:48] LenutaToderean commented on #1011
@HuKeping ...thank you! What I am trying to do is just the following tutorial: https://blog.docker.com/2016/03/notary-0-2/ . After I add the delegation and I am going on the collaborator's machine, I enable DOCKER_CONTENT_TRUST and push the image. I get the error: "Error: trust data missing for remote repository mydomain.com:5000/ubuntu or remote repository not found: timestamp key trust data unav

[2016-10-21 10:35] HuKeping commented on #1011
Could it because the latest version of notary has dropped the timestamps table from database and your docker version is the one that hasn't update its notary vendor package yet?

[2016-10-21 21:37] riyazdf commented on #1014
@ecordell @HuKeping - that's definitely a great fix.  Happy to have that in a separate PR as well if we want to fast-track it.

[2016-10-22 00:49] HuKeping commented on #1014
Thanks @ecordell !

[2016-10-24 04:37] nullterminated opened #1016 "SIGSEGV running notary client binary"
Downloaded notary client binary from

https://github.com/docker/notary/releases

for ubuntu 16.04. Verified checksum matches.

$ notary help
fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x0]

runtime stack:
runtime.throw(0x9ae407, 0x2a)
	/usr/local/go/src/runtime/panic.go:566 +0x95
runtime.sigpanic()
	/usr/local/go/src/runtime

[2016-10-24 06:20] HuKeping commented on #1016
Is there a way that we can recreate the problem ourselves?

I tried on a Ubuntu 16.04 machine and seems fine.

[2016-10-24 07:08] HuKeping commented on #1016
Could you please try this code on your machine:
[code]

[2016-10-24 13:09] LenutaToderean commented on #1011
Hi! thank you very much for your replays!
@riyazdf ... yes ... I have DOCKER_CONTENT_TRUST_SERVER set up on both machines. Could it be a certificate issue? Thank you!

[2016-10-24 13:59] ecordell commented on #1011
Have you tried recording your network traffic to see which specific URLs are being hit? Can you hit them with your browser? This to me sounds like a network issue between A and B, or more generally the notary server is not running in a place accessible to B.

[2016-10-24 15:07] nullterminated commented on #1016
On a clean nuc with a recently installed 16.04, I can

curl -LO https://github.com/docker/notary/releases/download/v0.4.2/notary-Linux-amd64 && chmod +x notary-Linux-amd64 && ./notary-Linux-amd64 help

and get command info from the program. Looking at the trace, I suspect the problem lies in the fact that I have the latest yubico stable installed on my laptop.

https://launchpad.net/~yubico/+archi

[2016-10-25 17:49] riyazdf commented on #1016
@nullterminated: thanks for your report!  I've been digging into this on Ubuntu 16.04 -- I'm able to reproduce the error with `yubico-piv-tool` versions 1.1.0+ (I didn't get the error on 1.0.3 - I think this is the version `apt install yubico-piv-tool` provides too).

Still trying to determine what's causing the error itself, and I'll update this issue as I figure out more

[2016-10-26 01:26] #1002 closed

[2016-10-26 06:24] LenutaToderean commented on #1011
@ecordell thank you for your message! Indeed. I think that also, but I don't know where to place the certificates or what I have to do  in order to see the notary server on the second machine. What I knew I already tried. Out of options right now.

[2016-10-26 12:17] HuKeping opened #1017 "Should we ship the error message to client?"
## Scenario
Boot notary-server with `auth` enabled, but the provided `rootcertbundle` is not the one for the `AuthTokenServer`  which would issue JWT.

## What I do
I typed a notary command , for example `notary init huawei.com`, and then follow the interactive message to init the TUF repo and eventually it would fail as expect because of the wrong cert.

## What I see
The error message is not cle

[2016-10-26 17:11] riyazdf commented on #1011
Have you taken a look at the logs on the notary server deployed on machine A when the push from machine B fails?  This will help us determine if it's a TLS issue and where TLS is misconfigured if so

Some other debugging that might help us diagnose the issue:
- Can you push any other image with `DOCKER_CONTENT_TRUST=1` from machine B -> A?  To simplify things, try it without a delegation.  This wi

[2016-10-27 00:59] riyazdf commented on #1016
@a-dma: sorry to bother you, but I'm wondering if you're aware of any incompatibilities between ykcs11 and the pkcs11 library we're using, and any potential workarounds we might want to look into.

[2016-10-27 01:59] HuKeping commented on #1017
It was mostly because of distribution losing the error message detail, I 'll file a PR there first.

[2016-10-27 08:34] a-dma commented on #1016
No, not that I'm aware of. The module itself (ykcs11) could do with improvements, but should not have "incompatibilities". Maybe try rebuilding it with debugging enabled and see if anything goes wrong in there.

[2016-10-27 11:10] LenutaToderean commented on #1011
Hello, @riyazdf ! Thank you for your message.
I cannot push with DOCKER_CONTENT_TRUST enabled from machine B -> A( `"Error establishing connection to notary repository: Missing client certificate notary-server.cert for key notary-server.key"` - on B).

- The output for notary list:

![test_tag_1](https://cloud.githubusercontent.com/assets/19945972/19765006/c647f89e-9c4e-11e6-85e7-6370012d116e.PNG)

[2016-10-27 12:16] LenutaToderean commented on #1011
It looks like it was a networking issue. I solved this editing the /etc/hosts file of B's machine.  I added the `IP notary-server` and after that I was able to push signed images on A. Thank you very much!

[2016-10-27 12:16] #1011 closed

[2016-10-27 16:27] riyazdf commented on #1016
@a-dma: will do.  I've rebuilt with debugging but I'm not sure where I can see the debug output when testing integration with notary.  Is there documentation that I could follow for how to use the debug mode (or a suggested place to look for logs)?  Thanks!

[2016-10-28 14:37] a-dma commented on #1016
Nothing special, just build with `./configure --enable-ykcs11-debug` and `make`. Debug output is printed on standard output, so that should end up wherever Notary prints it.

[2016-10-28 14:43] riyazdf commented on #1016
Ok thanks!  I guess I'm not seeing any additional debug output after installing with `./configure --enable-ykcs11-debug` `make` and `sudo make install`, so maybe this is happening pretty early when hooking into the library?

[code]

[2016-10-28 18:30] a-dma commented on #1016
I don't know about Notary, but I made a quick test on my machine (running Ubuntu 16.10). I have run the snippet above and it works fine for me. Running that with a version of `ykcs11` that has debugging enabled prints a couple of lines and then quits as expected. Keep in mind that there is an error in that snippet of code, the `return` in the innermost `if` should be a `break`.

My output is:
[cod

[2016-10-31 06:50] HuKeping commented on #1016
As per the stack
[code]

Isn't it caused by the function New()
[code]

At beginning, I was thinking if it was the `module` might be empty and so that the `mod` for C.New(mod) is nil that cause the panic. But it seems `module` was always be non-empty.

[2016-10-31 18:03] endophage opened #1020 "Rate limiting the update endpoints."
Rate limit per repo. IP rate limiting can be efficiently implemented outside of Notary by a load balancer if necessary (i.e. with Nginx: https://lincolnloop.com/blog/rate-limiting-nginx/).

[2016-10-31 22:09] endophage opened #1021 "Refactor server auth"
I've had to implement some slightly messy functionality to handle auth for the changefeed. We should to take another look at how we've implemented auth and come up with a cleaner implementation.

[2016-11-03 23:28] rikatz opened #1022 "Notary init without '-s' panics"
Doing some tests here with notary (following this: https://docs.docker.com/notary/advanced_usage/) I've noticed that, when I forget to pass the '-s' argument the client panics, as the following:

[code]

Using the command with the '-s' argumment works fine. Probably notary should not panic, but print an error message and exit, right?

Thanks!

[2016-11-04 01:48] HuKeping commented on #1022
Properly not a duplicate #1016

[2016-11-04 01:50] HuKeping commented on #1022
@rikatz  Could you please post the output of  `notary version` here, thanks.

[2016-11-04 02:28] rikatz commented on #1022
Sure:

[code]

[code]

[2016-11-04 02:55] HuKeping commented on #1022
It seems like also build with `pkcs11` @riyazdf

[2016-11-04 04:44] riyazdf commented on #1022
@rikatz: sorry to hear you're running into this - which notary binary are you using (linux/mac/built on your own)?  I'm unable to repro on mac, so I'm wondering if it's a linux issue.  Also, do you have any existing configuration in `~/.notary`?

@HuKeping: where do you see the `pkcs11` build information?  It seems like this is a panic we're picking up through our own `getTransport` code,  `docker

[2016-11-04 06:18] HuKeping commented on #1022
I suppose you get it from the trace of `goroutine 1`, but it seems golang will print out the trace of all the goroutines if panic happen. Hope I don't missing anything , it seems OK to me abou the `goroutine 1`

I'm not very certain about that , but everytime I typed `notary --debug XXX` , it will debug like
[code]

which there is not such a message about `... no library found` on @rikatz 's log.

[2016-11-04 10:23] LenutaToderean commented on #953
Hi!
"Removal of the following keys from all delegations in 54.68.209.79:4431/someorg/somerepo ... ". Is it possible to have multiple delegations for a repo?
Thank you!

[2016-11-04 10:36] HuKeping commented on #953
yes, and it also supports nested delegtions

[2016-11-04 10:36] HuKeping commented on #953
yes, and it also supports nested delegtions

[2016-11-04 10:45] LenutaToderean commented on #953
@HuKeping ... thank you!

[2016-11-04 13:27] rikatz commented on #1022
@riyazdf I'm using the binary version for Linux/AMD64, and running on a CentOS 7.2.1511

I've tested on a fresh install Linux here (without the .notary directory) and the error happens.

Note that when I use the correct command (./notary-Linux-amd64 --debug init -s "https://notary.docker.io" docker.io/rpkatz/nginx) the command goes well:

[code]

[2016-11-04 17:15] riyazdf commented on #1022
@rikatz: thanks for the information, I'm able to repro.  The default value for the server is `-s https://notary-server:4443`, and the panic occurs for that value too if you provide it explicitly.  I'll dig into this more and report back with any findings/fixes

[2016-11-05 06:49] HuKeping commented on #1022
@riyazdf how do you repro that

[2016-11-07 11:13] rikatz opened #1023 "Notary Server with Auth sending Hostname"
So, this is more a doubt than a proper issue:

I'm configuring Notary to use an authentication token based service (based on VMWare Harbor Authentication Service).

I'm having an strange behaviour, as when the Docker Distribution Service tries to authenticate against it, it sends the following request (this is the pure Docker Distribution Service, pointing it's authentication to the service):

[co

[2016-11-07 11:43] HuKeping commented on #1023
I've run into the same issue  when I deployed notary service before.

It might because when Distribution challenge the request from CLI(etc, docker CLI), the final target is Distribution service itself. The auth server only need to know whether this credential is valid for the resource in this Distribution.

When Notary server challenge the request from CLI(etc, notary CLI), the final target is no

[2016-11-07 17:41] riyazdf commented on #1023
Adding on to @HuKeping's explanation: a notary server can hold trust data for multiple registries, so it's possible that you have signed metadata for both `docker.io/image` and `private-registry.com/image` on the same notary server.

[2016-11-07 17:46] riyazdf commented on #1022
@HuKeping: I downloaded the linux binary from our releases page to a fresh Ubuntu 16.04 box, and tried a `notary list docker.io/library/nginx` without starting up a notary server.

The panic is not unique to the `init` command, since we use `https://notary-server:4443` as the default notary server url for all commands if you don't provide one with `-s`.  I wasn't able to find the root issue just y

[2016-11-07 18:16] rikatz commented on #1023
OK, so on my Token Authentication Service, should I ignore the 'hostname' part and consider that when Notary asks for that, it's for that registry?

[2016-11-07 18:17] endophage opened #1024 "Fix `Sha256` naming"
"SHA" is an acronym so following Go's coding standards should either be `sha` or `SHA` depending on whether it needs to be exported or not. `github.com/server/storage.TUFFile` at least has the naming wrong, a case sensitive grep may find other places.

[2016-11-07 18:23] endophage commented on #1023
@rikatz ideally you should include the hostname. In the notary world this is considered part of the "Globally Unique Name" (a.k.a GUN). A notary server will happily host multiple unique GUNs as long as you can get tokens it accepts for them. When the docker client needs to push trust data to notary, it actually takes the name distribution recognizes, i.e. `library/alpine` and prepends `docker.io`,

[2016-11-07 23:42] riyazdf commented on #1022
Ok it seems to be `cgo` related: when I disable it on the cross build `CGO_ENABLED=0`, I don't get the error.

[code]

I'm not sure how to move forward with this; I'm playing with different flags to disable parts of cgo for networking (ex: `GODEBUG=netdns=go`) but haven't found a fix yet.

[2016-11-08 02:41] HuKeping commented on #1023
If we jumped out of the container world, in a hight-level , notary can be used to  hold the trust data for multi resource set, their relationship can be marked as `1....n`.  The auth server, for example `AWS IAM` can also be used to hold the credential data for multi resource set, their relationship can also be marked as `1....n`.

For a running notary service, the relationship with IAM should be

[2016-11-09 18:46] riyazdf opened #1025 "Delete trusted_certificates directory on CLI init"
Since it's no longer supported, we should delete the `trusted_certificates` subdirectory upon initialization of the notary CLI.

[2016-11-10 14:50] clemenko opened #1026 "notary signer not able to connect to mariadb."
When deploying with `docker-compose up -d` we see all the container start. However we are seeing the notary_server error with `waiting for mysql://server@tcp(mysql:3306)/notaryserver to come up.` We started an alpine image with `docker run --rm -it --network notary_mdb alpine sh` and successfully resolved "mysql" and were even able to curl port 3306.

Here is a `docker network inspect notary_mdb`

[2016-11-10 16:28] riyazdf commented on #1026
@clemenko: thanks for the report.
It'd be useful to view the logs on the `docker compose up` command (just run without `-d`) so we can view the logs and further debug.
It might also be worth taking a peek at the docker compose yaml file if possible, though logs would be more helpful to pinpoint the cause of the error.